Repository cachekit-io/cachekit-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: basedpyright, cargo-fmt, cargo-clippy

basedpyright:
  name: basedpyright
  entry: .venv/bin/basedpyright src/ --level error
  language: system
  pass_filenames: false

cargo-fmt:
  name: Cargo format
  entry: bash -c 'cd rust && cargo fmt --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo clippy
  entry: bash -c 'cd rust && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

chore(deps): bump cachekit-core from 0.1.1 to 0.2.0
  Cargo.lock
  rust/Cargo.toml
Due: none

feat: auto-detect memcached and file backends from environment (#139)
  src/cachekit/backends/provider.py
  tests/unit/backends/test_provider.py
Due: basedpyright

chore(deps): bump cachekit-core from 0.1.1 to 0.2.0 (#140)
  Cargo.lock
  rust/Cargo.toml
Due: none

fix: pass bare cache key to LockableBackend.acquire_lock (#135)
  src/cachekit/backends/base.py
  src/cachekit/backends/cachekitio/backend.py
  src/cachekit/backends/redis/provider.py
  src/cachekit/decorators/wrapper.py
  src/cachekit/reliability/adaptive_timeout.py
  tests/unit/backends/test_cachekitio_lock_protocol.py
  tests/unit/backends/test_cachekitio_lock_url.py
  tests/unit/test_wrapper_lock_bare_key.py
Due: basedpyright

ci: restore Security Deep pipeline and gate publish on attestation (#137)
  .github/workflows/attestation-check.yml
  .github/workflows/release-please.yml
  .github/workflows/security-deep.yml
Due: none

ci: pin Atheris fuzzing job to Python 3.11
  .github/workflows/security-deep.yml
Due: none

ci: pin Atheris fuzzing job to Python 3.11 (#142)
  .github/workflows/security-deep.yml
Due: none

docs: clarify intent-preset feature comparison table in README
  README.md
Due: none

docs: lead with the pluggable-backend abstraction (conservative reframe)
  README.md
  docs/README.md
  docs/configuration.md
  docs/getting-started.md
Due: none

test: fix 9 broken fuzz targets and track cachekit-core 0.2.0
  rust/fuzz/Cargo.toml
  rust/fuzz/fuzz_targets/byte_storage_checksum_collision.rs
  rust/fuzz/fuzz_targets/byte_storage_empty_data.rs
  rust/fuzz/fuzz_targets/byte_storage_integer_overflow.rs
  rust/fuzz/fuzz_targets/encryption_aad_injection.rs
  rust/fuzz/fuzz_targets/encryption_large_payload.rs
  rust/fuzz/fuzz_targets/encryption_nonce_reuse.rs
  rust/fuzz/fuzz_targets/encryption_roundtrip.rs
  rust/fuzz/fuzz_targets/encryption_truncated_ciphertext.rs
  rust/fuzz/fuzz_targets/integration_layered_security.rs
Due: cargo-fmt, cargo-clippy

docs: document cache_info() and correct inaccurate Prometheus docs
  README.md
  docs/api-reference.md
  docs/features/prometheus-metrics.md
Due: none

feat: drop Python 3.9 support, require >=3.10
  .github/workflows/ci.yml
  .github/workflows/release-please.yml
  .github/workflows/security-fast.yml
  .secrets.baseline
  CONTRIBUTING.md
  Cargo.lock
  README.md
  basedpyright.json
  docs/api-reference.md
  pyproject.toml
  pyrightconfig.json
  src/cachekit/__init__.py
  src/cachekit/cache_handler.py
  src/cachekit/config/decorator.py
  src/cachekit/config/nested.py
  src/cachekit/decorators/intent.py
  src/cachekit/decorators/local_wrapper.py
  src/cachekit/decorators/tenant_context.py
  src/cachekit/decorators/wrapper.py
  src/cachekit/invalidation/channel.py
  src/cachekit/key_generator.py
  src/cachekit/reliability/circuit_breaker.py
  tests/competitive/test_aiocache_comparison.py
  tests/competitive/test_lru_cache_comparison.py
  tests/critical/test_memcached_backend_critical.py
  tests/docs/test_ground_truth.py
  tests/integration/saas/conftest.py
  tests/integration/test_redis_integration.py
  tests/performance/stats_utils.py
  tests/performance/test_file_backend_perf.py
  tests/unit/backends/test_memcached_backend.py
  tests/utils/redis_test_helpers.py
  tests/utils/timing_helper.py
  uv.lock
Due: basedpyright

test: drop duplicate memcached timeout-classification test
  tests/unit/backends/test_memcached_backend.py
Due: basedpyright

ci: auto-sync lockfiles in release-please PRs
  .github/workflows/release-please.yml
Due: none

feat: drop Python 3.9 support, require >=3.10 (#148)
  .github/workflows/ci.yml
  .github/workflows/release-please.yml
  .github/workflows/security-fast.yml
  .secrets.baseline
  CONTRIBUTING.md
  Cargo.lock
  README.md
  basedpyright.json
  docs/api-reference.md
  pyproject.toml
  pyrightconfig.json
  src/cachekit/__init__.py
  src/cachekit/cache_handler.py
  src/cachekit/config/decorator.py
  src/cachekit/config/nested.py
  src/cachekit/decorators/intent.py
  src/cachekit/decorators/local_wrapper.py
  src/cachekit/decorators/tenant_context.py
  src/cachekit/decorators/wrapper.py
  src/cachekit/invalidation/channel.py
  src/cachekit/key_generator.py
  src/cachekit/reliability/circuit_breaker.py
  tests/competitive/test_aiocache_comparison.py
  tests/competitive/test_lru_cache_comparison.py
  tests/critical/test_memcached_backend_critical.py
  tests/docs/test_ground_truth.py
  tests/integration/saas/conftest.py
  tests/integration/test_redis_integration.py
  tests/performance/stats_utils.py
  tests/performance/test_file_backend_perf.py
  tests/unit/backends/test_memcached_backend.py
  tests/utils/redis_test_helpers.py
  tests/utils/timing_helper.py
  uv.lock
Due: basedpyright

feat: support explicit per-function encryption opt-out (tri-state)
  .secrets.baseline
  src/cachekit/cache_handler.py
  src/cachekit/config/nested.py
  src/cachekit/config/validation.py
  src/cachekit/decorators/intent.py
  src/cachekit/decorators/wrapper.py
  tests/unit/config/test_nested_configs.py
  tests/unit/test_cache_handler_encryption_autodetect.py
Due: basedpyright

fix: bound memory for large DataFrame/Arrow caching (was OOMing at real sizes)
  src/cachekit/backends/memcached/backend.py
  src/cachekit/backends/memcached/config.py
  src/cachekit/l1_cache.py
  src/cachekit/serializers/arrow_serializer.py
  src/cachekit/serializers/wrapper.py
  tests/critical/test_memcached_backend_critical.py
  tests/performance/test_large_object_memory.py
  tests/unit/backends/test_memcached_backend.py
  tests/unit/test_arrow_serializer.py
  tests/unit/test_l1_memory_bounds.py
  tests/unit/test_serialization_wrapper.py
  tests/unit/test_serializer_integrity.py
  tests/unit/test_xxhash_integrity.py
Due: basedpyright

feat: honor user serializer under encryption via cross_sdk_compatible marker
  .secrets.baseline
  src/cachekit/cache_handler.py
  src/cachekit/serializers/__init__.py
  src/cachekit/serializers/arrow_serializer.py
  src/cachekit/serializers/auto_serializer.py
  src/cachekit/serializers/base.py
  src/cachekit/serializers/orjson_serializer.py
  src/cachekit/serializers/standard_serializer.py
  tests/critical/test_encryption_integration.py
  tests/integration/test_serializer_integration.py
  tests/unit/test_encryption_security_invariants.py
Due: basedpyright

feat: configurable Arrow IPC compression (auto/zstd/lz4/none)
  src/cachekit/config/settings.py
  src/cachekit/serializers/arrow_serializer.py
  tests/unit/test_arrow_serializer.py
  tests/unit/test_serialization_wrapper.py
Due: basedpyright

docs: clarify @cache.local() feature applicability (CodeRabbit)
  README.md
Due: none

docs: add comma after 'By default' (CodeRabbit)
  docs/getting-started.md
Due: none

test: cover decorator-level tri-state encryption flattening (#128)
  tests/unit/test_cache_handler_encryption_autodetect.py
Due: basedpyright

docs: update comparison.md type preservation claims after #73 fix (#119)
  docs/comparison.md
Due: none

test: fix 9 broken fuzz targets and track cachekit-core 0.2.0 (#145)
  rust/fuzz/Cargo.toml
  rust/fuzz/fuzz_targets/byte_storage_checksum_collision.rs
  rust/fuzz/fuzz_targets/byte_storage_empty_data.rs
  rust/fuzz/fuzz_targets/byte_storage_integer_overflow.rs
  rust/fuzz/fuzz_targets/encryption_aad_injection.rs
  rust/fuzz/fuzz_targets/encryption_large_payload.rs
  rust/fuzz/fuzz_targets/encryption_nonce_reuse.rs
  rust/fuzz/fuzz_targets/encryption_roundtrip.rs
  rust/fuzz/fuzz_targets/encryption_truncated_ciphertext.rs
  rust/fuzz/fuzz_targets/integration_layered_security.rs
Due: cargo-fmt, cargo-clippy

ci: auto-sync lockfiles in release-please PRs (#149)
  .github/workflows/release-please.yml
Due: none

docs: document cache_info() and correct inaccurate Prometheus docs (#147)
  README.md
  docs/api-reference.md
  docs/features/prometheus-metrics.md
Due: none

feat: honor user serializer under encryption via cross_sdk_compatible marker (#153)
  .secrets.baseline
  src/cachekit/cache_handler.py
  src/cachekit/serializers/__init__.py
  src/cachekit/serializers/arrow_serializer.py
  src/cachekit/serializers/auto_serializer.py
  src/cachekit/serializers/base.py
  src/cachekit/serializers/orjson_serializer.py
  src/cachekit/serializers/standard_serializer.py
  tests/critical/test_encryption_integration.py
  tests/integration/test_serializer_integration.py
  tests/unit/test_encryption_security_invariants.py
Due: basedpyright

docs: clarify intent-preset feature comparison table in README (#143)
  README.md
Due: none

docs: lead with the pluggable-backend abstraction (conservative reframe) (#144)
  README.md
  docs/README.md
  docs/configuration.md
  docs/getting-started.md
Due: none

feat: support explicit per-function encryption opt-out (tri-state) (#151)
  src/cachekit/cache_handler.py
  src/cachekit/config/nested.py
  src/cachekit/config/validation.py
  src/cachekit/decorators/intent.py
  src/cachekit/decorators/wrapper.py
  tests/unit/config/test_nested_configs.py
  tests/unit/test_cache_handler_encryption_autodetect.py
Due: basedpyright

fix: bound memory for large DataFrame/Arrow caching (was OOMing at real sizes) (#152)
  src/cachekit/backends/memcached/backend.py
  src/cachekit/backends/memcached/config.py
  src/cachekit/config/settings.py
  src/cachekit/l1_cache.py
  src/cachekit/serializers/arrow_serializer.py
  src/cachekit/serializers/wrapper.py
  tests/critical/test_memcached_backend_critical.py
  tests/performance/test_large_object_memory.py
  tests/unit/backends/test_memcached_backend.py
  tests/unit/test_arrow_serializer.py
  tests/unit/test_l1_memory_bounds.py
  tests/unit/test_serialization_wrapper.py
  tests/unit/test_serializer_integrity.py
  tests/unit/test_xxhash_integrity.py
Due: basedpyright

fix: harden cache-envelope framing and compression config resolution
  src/cachekit/serializers/arrow_serializer.py
  src/cachekit/serializers/wrapper.py
  tests/unit/test_arrow_serializer.py
  tests/unit/test_l1_memory_bounds.py
  tests/unit/test_serialization_wrapper.py
Due: basedpyright

test: cover frame-bounds guards and compression-config fallback
  tests/unit/test_arrow_serializer.py
  tests/unit/test_serialization_wrapper.py
Due: basedpyright

fix: harden cache-envelope framing and compression config resolution (#172)
  src/cachekit/serializers/arrow_serializer.py
  src/cachekit/serializers/wrapper.py
  tests/unit/test_arrow_serializer.py
  tests/unit/test_l1_memory_bounds.py
  tests/unit/test_serialization_wrapper.py
Due: basedpyright

fix: stop legacy RedisBackend corrupting binary payloads
  src/cachekit/backends/redis/backend.py
  src/cachekit/backends/redis/client.py
  tests/integration/test_redis_backend.py
Due: basedpyright

test: add unit-level coverage for Redis pool config and get() contract
  tests/unit/backends/test_redis_backend.py
Due: basedpyright

test: inject client_provider in Redis get() unit tests
  tests/unit/backends/test_redis_backend.py
Due: basedpyright

fix: stop legacy RedisBackend corrupting binary payloads (#173)
  src/cachekit/backends/redis/backend.py
  src/cachekit/backends/redis/client.py
  tests/integration/test_redis_backend.py
  tests/unit/backends/test_redis_backend.py
Due: basedpyright

fix: reject non-finite (NaN/inf) TTL to prevent immortal cache entries
  .secrets.baseline
  src/cachekit/config/decorator.py
  src/cachekit/l1_cache.py
  src/cachekit/object_cache.py
  tests/unit/config/test_decorator_config.py
  tests/unit/test_l1_memory_bounds.py
  tests/unit/test_object_cache.py
Due: basedpyright

test: cover negative infinity in non-finite TTL rejection tests
  tests/unit/config/test_decorator_config.py
  tests/unit/test_l1_memory_bounds.py
  tests/unit/test_object_cache.py
Due: basedpyright

Path conditions:
  basedpyright: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
