Repository cachekit-io/cachekit-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: basedpyright, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

# Pre-commit hooks for cachekit
# Install: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python formatting and linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff
        args: [--fix]
        name: Ruff lint
      - id: ruff-format
        name: Ruff format

  # Rust formatting and linting
  - repo: local
    hooks:
      # Python type checking with basedpyright
      # Uses venv directly to avoid uv run modifying uv.lock
      - id: basedpyright
        name: basedpyright
        entry: .venv/bin/basedpyright src/ --level error
        language: system
        types: [python]
        pass_filenames: false

      - id: cargo-fmt
        name: Cargo format
        entry: bash -c 'cd rust && cargo fmt --check'
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: Cargo clippy
        entry: bash -c 'cd rust && cargo clippy -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict

  # Secret scanning - prevent credential leaks
  # Uses Yelp's detect-secrets with high entropy detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args:
          - --baseline
          - .secrets.baseline
        exclude: |
          (?x)^(
            .*\.lock$|
            .*\.sum$|
            tests/fixtures/.*|
            docs/.*\.md$
          )$

ci: fix silently-broken SBOM attestation in release workflow
  .github/workflows/release-please.yml
Due: none

fix: snapshot settings singleton before the self-heal check (avoid concurrent-reset AttributeError)
  src/cachekit/config/singleton.py
Due: basedpyright

ci: drop persisted checkout credentials before third-party SBOM action
  .github/workflows/release-please.yml
Due: none

ci: fix silently-broken SBOM attestation in release workflow (#201)
  .github/workflows/release-please.yml
Due: none

ci: harden release SBOM job per security review
  .github/syft.yaml
  .github/workflows/release-please.yml
Due: none

ci: harden release SBOM job per security review (#202)
  .github/syft.yaml
  .github/workflows/release-please.yml
Due: none

fix: re-read settings when CACHEKIT_MASTER_KEY appears + correct missing-key env var name (#200)
  src/cachekit/cache_handler.py
  src/cachekit/config/singleton.py
  src/cachekit/serializers/encryption_wrapper.py
  tests/unit/test_encryption_config_resolution.py
Due: basedpyright

chore: benchmark robustness — measurement integrity, GIL scaling, unified runner
  CONTRIBUTING.md
  Makefile
  pyproject.toml
  tests/benchmarks/conftest.py
  tests/performance/README.md
  tests/performance/conftest.py
  tests/performance/gil_benchmark.py
  tests/performance/measurement_env.py
  tests/performance/test_measurement_calibration.py
  tests/performance/test_serializer_microbench.py
  tests/performance/test_statistical_rigor.py
Due: basedpyright

chore: annotate benchmark conftest fixture return type
  tests/benchmarks/conftest.py
Due: basedpyright

chore: wire native pytest-benchmark regression gating; fix broken benchmark targets
  CONTRIBUTING.md
  Makefile
  docs/getting-started.md
  tests/benchmarks/conftest.py
  tests/performance/README.md
Due: basedpyright

chore: resolve RustSec advisory sweep breaking security gate
  .github/workflows/security-fast.yml
  Cargo.lock
  deny.toml
Due: none

chore: resolve RustSec advisory sweep breaking security gate (#208)
  .github/workflows/security-fast.yml
  Cargo.lock
  deny.toml
Due: none

ci: assign 27Bslash6 on release-please release PRs
  .github/workflows/release-please.yml
Due: none

ci: assign 27Bslash6 on release-please release PRs (#209)
  .github/workflows/release-please.yml
Due: none

build: bump cachekit-core to 0.3.0 for checksum API
  Cargo.lock
  rust/Cargo.toml
Due: none

feat: expose checksum/verify_checksum via PyO3 (cachekit-core#13)
  rust/src/lib.rs
  rust/src/python_bindings.rs
  tests/unit/test_checksum_ffi.py
Due: basedpyright, cargo-fmt, cargo-clippy

test: benchmark py-xxhash vs Rust-FFI checksum across sizes (cachekit-core#13)
  tests/benchmarks/benchmark_checksum_ffi.py
Due: basedpyright

ci+docs: guard crates.io pin for cachekit-core; document standalone checksum API
  .github/workflows/ci.yml
  docs/features/rust-serialization.md
Due: none

docs: drop 'SaaS validates func component' claims (server is security-only now)
  docs/data-flow-architecture.md
  src/cachekit/key_generator.py
Due: basedpyright

fix(checksum-ffi): accept buffer protocol; harden crates.io-pin guard
  .github/workflows/ci.yml
  docs/features/rust-serialization.md
  rust/src/python_bindings.rs
  tests/unit/test_checksum_ffi.py
Due: basedpyright, cargo-fmt, cargo-clippy

test: stop docs conftest leaking CACHEKIT_MASTER_KEY into the env (#205)
  docs/CONTRIBUTING.md
  docs/conftest.py
  tests/unit/test_docs_conftest_no_key_leak.py
Due: basedpyright

feat: checksum FFI binding + benchmark (cachekit-core#13 Phase 2) (#212)
  .github/workflows/ci.yml
  Cargo.lock
  docs/features/rust-serialization.md
  rust/Cargo.toml
  rust/src/lib.rs
  rust/src/python_bindings.rs
  tests/benchmarks/benchmark_checksum_ffi.py
  tests/unit/test_checksum_ffi.py
Due: basedpyright, cargo-fmt, cargo-clippy

fix(serializers): AutoSerializer sets compressed metadata from the actual ByteStorage codec (#166)
  src/cachekit/serializers/auto_serializer.py
  tests/integration/test_encryption_composability.py
Due: basedpyright

refactor(serializers): drop redundant else in DataFrame branch (guard-clause style)
  src/cachekit/serializers/auto_serializer.py
Due: basedpyright

refactor(serializers): expert-panel hardening — structural AAD-flag oracle, AAD docstring conformance
  src/cachekit/serializers/auto_serializer.py
  src/cachekit/serializers/encryption_wrapper.py
  tests/integration/test_encryption_composability.py
Due: basedpyright

test(serializers): parametrized compressed-flag coverage for all AutoSerializer paths
  src/cachekit/serializers/auto_serializer.py
  tests/integration/test_encryption_composability.py
Due: basedpyright

fix(serializers): AutoSerializer sets compressed metadata from the actual ByteStorage codec (#211)
  src/cachekit/serializers/auto_serializer.py
  src/cachekit/serializers/encryption_wrapper.py
  tests/integration/test_encryption_composability.py
Due: basedpyright

fix(security): fail closed on plaintext frames when encryption is enabled
  docs/features/zero-knowledge-encryption.md
  src/cachekit/cache_handler.py
  tests/unit/test_encryption_security_invariants.py
Due: basedpyright

fix: address coderabbit review — MD040 fence languages + namespace-scoped eviction
  docs/features/zero-knowledge-encryption.md
Due: none

fix: address coderabbit review — workload-dependent migration guidance
  docs/features/zero-knowledge-encryption.md
Due: none

docs: apply expert-panel text edits — correct doc pointer, drop unsafe flush advice
  src/cachekit/cache_handler.py
Due: basedpyright

fix(security): fail closed on plaintext frames when encryption is enabled (LAB-241) (#215)
  docs/features/zero-knowledge-encryption.md
  src/cachekit/cache_handler.py
  tests/unit/test_encryption_security_invariants.py
Due: basedpyright

feat(security): tamper telemetry + fail-closed decrypt policy (LAB-108, #170)
  docs/api-reference.md
  docs/configuration.md
  docs/features/prometheus-metrics.md
  docs/features/rust-serialization.md
  docs/features/zero-knowledge-encryption.md
  docs/serializers/default.md
  src/cachekit/cache_handler.py
  src/cachekit/config/decorator.py
  src/cachekit/config/nested.py
  src/cachekit/config/settings.py
  src/cachekit/decorators/intent.py
  src/cachekit/decorators/wrapper.py
  src/cachekit/serializers/__init__.py
  src/cachekit/serializers/encryption_wrapper.py
  tests/unit/test_decrypt_fail_policy.py
Due: basedpyright

fix(config): enforce l1_max_size_mb + max_value_size, remove dead zlib/chunk knobs (LAB-109)
  docs/api-reference.md
  src/cachekit/__init__.py
  src/cachekit/cache_handler.py
  src/cachekit/config/settings.py
  src/cachekit/config/singleton.py
  src/cachekit/decorators/wrapper.py
  src/cachekit/l1_cache.py
  tests/conftest.py
  tests/unit/test_config_env_fallback.py
  tests/unit/test_config_unification.py
  tests/unit/test_l1_memory_bounds.py
  tests/unit/test_max_value_size_enforcement.py
Due: basedpyright

fix(security): apply expert-panel findings to decrypt fail policy (LAB-108)
  docs/features/prometheus-metrics.md
  docs/features/zero-knowledge-encryption.md
  src/cachekit/cache_handler.py
  src/cachekit/decorators/wrapper.py
  src/cachekit/serializers/__init__.py
  src/cachekit/serializers/base.py
  src/cachekit/serializers/encryption_wrapper.py
  tests/unit/test_decrypt_fail_policy.py
  tests/unit/test_l2_decrypt_observability.py
Due: basedpyright

fix(decorators): honor L1CacheConfig SWR + max_size_mb in L1-only mode (LAB-106)
  docs/configuration.md
  src/cachekit/config/nested.py
  src/cachekit/decorators/wrapper.py
  src/cachekit/object_cache.py
  tests/unit/test_l1_only_swr.py
  tests/unit/test_object_cache.py
Due: basedpyright

docs: remove comma before restrictive 'because' clause in CONTRIBUTING
  docs/CONTRIBUTING.md
Due: none

chore: address CodeRabbit review — divisibility guard + reuse single-thread baseline in GIL benchmark
  tests/performance/gil_benchmark.py
Due: basedpyright

chore: validate n_threads before modulo in GIL benchmark (CodeRabbit)
  tests/performance/gil_benchmark.py
Due: basedpyright

fix: address coderabbit review — redact cache key in overflow error, refresh env docs, isolate default-limit test
  docs/api-reference.md
  src/cachekit/cache_handler.py
  tests/unit/test_max_value_size_enforcement.py
Due: basedpyright
