Repository cachekit-io/cachekit-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: basedpyright, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

# Pre-commit hooks for cachekit
# Install: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python formatting and linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff
        args: [--fix]
        name: Ruff lint
      - id: ruff-format
        name: Ruff format

  # Rust formatting and linting
  - repo: local
    hooks:
      # Python type checking with basedpyright
      # Uses venv directly to avoid uv run modifying uv.lock
      - id: basedpyright
        name: basedpyright
        entry: .venv/bin/basedpyright src/ --level error
        language: system
        types: [python]
        pass_filenames: false

      - id: cargo-fmt
        name: Cargo format
        entry: bash -c 'cd rust && cargo fmt --check'
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: Cargo clippy
        entry: bash -c 'cd rust && cargo clippy -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict

  # Secret scanning - prevent credential leaks
  # Uses Yelp's detect-secrets with high entropy detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args:
          - --baseline
          - .secrets.baseline
        exclude: |
          (?x)^(
            .*\.lock$|
            .*\.sum$|
            tests/fixtures/.*|
            docs/.*\.md$
          )$

feat(encryption): warn once when CACHEKIT_MASTER_KEY auto-activates encryption (LAB-4642)
  .secrets.baseline
  SECURITY.md
  docs/CONTRIBUTING.md
  docs/configuration.md
  docs/features/zero-knowledge-encryption.md
  src/cachekit/cache_handler.py
  src/cachekit/config/decorator.py
  src/cachekit/config/nested.py
  src/cachekit/decorators/intent.py
  src/cachekit/decorators/wrapper.py
  tests/unit/config/test_decorator_config.py
  tests/unit/test_cache_handler_encryption_autodetect.py
Due: basedpyright

fix(cachekitio): per-config HTTP clients, redacted config errors, io rejects config= (LAB-4643)
  .secrets.baseline
  docs/backends/cachekitio.md
  docs/getting-started.md
  src/cachekit/backends/cachekitio/backend.py
  src/cachekit/backends/cachekitio/client.py
  src/cachekit/backends/cachekitio/config.py
  src/cachekit/config/decorator.py
  src/cachekit/decorators/intent.py
  tests/unit/backends/test_cachekitio_backend.py
  tests/unit/backends/test_cachekitio_client.py
  tests/unit/config/test_decorator_config.py
Due: basedpyright

fix(decorators): refuse encryption with backend=None — L1-only held plaintext (LAB-4665)
  docs/api-reference.md
  docs/backends/none.md
  docs/configuration.md
  docs/data-flow-architecture.md
  docs/features/circuit-breaker.md
  docs/features/zero-knowledge-encryption.md
  docs/serializers/encryption.md
  src/cachekit/decorators/intent.py
  src/cachekit/decorators/wrapper.py
  tests/critical/test_secure_env_fallback.py
  tests/test_decorator_intent_examples.py
  tests/unit/test_l1_only_mode.py
Due: basedpyright

fix(encryption)!: single-tenant tenant_id defaults to "default", not a deployment UUID (LAB-4666)
  SECURITY.md
  docs/features/interop-mode.md
  docs/features/zero-knowledge-encryption.md
  src/cachekit/cache_handler.py
  src/cachekit/config/nested.py
  src/cachekit/config/settings.py
  src/cachekit/decorators/wrapper.py
  tests/unit/protocol/test_interop_decorator.py
  tests/unit/test_key_rotation_keyring.py
  tests/unit/test_single_tenant_mode.py
Due: basedpyright

fix(config): dev/test presets default ttl=300; dedupe TTL docs after panel review (LAB-4641)
  .secrets.baseline
  README.md
  docs/api-reference.md
  docs/configuration.md
  src/cachekit/config/decorator.py
  src/cachekit/config/settings.py
  tests/unit/config/test_presets.py
  tests/unit/test_config_env_fallback.py
Due: basedpyright

docs(encryption): finish the "default" tenant story in every docstring and interop table (LAB-4666)
  .secrets.baseline
  docs/features/interop-mode.md
  src/cachekit/cache_handler.py
  src/cachekit/decorators/wrapper.py
  tests/unit/protocol/test_interop_decorator.py
  tests/unit/test_single_tenant_mode.py
Due: basedpyright

fix(encryption): re-arm the auto-activation warning in forked workers (LAB-4642)
  .secrets.baseline
  docs/configuration.md
  docs/features/zero-knowledge-encryption.md
  src/cachekit/cache_handler.py
  tests/unit/test_cache_handler_encryption_autodetect.py
Due: basedpyright

docs(logging): drop remaining overhead claim (LAB-4638)
  src/cachekit/logging.py
Due: basedpyright

refactor(decorators)!: remove dead correlation-ID surface (LAB-4733)
  README.md
  docs/api-reference.md
  src/cachekit/__init__.py
  src/cachekit/decorators/orchestrator.py
  src/cachekit/decorators/wrapper.py
  src/cachekit/monitoring/correlation_tracking.py
  tests/unit/test_context_leak_regression.py
  tests/unit/test_correlation_tracking.py
  tests/unit/test_orchestrator_error_handling.py
Due: basedpyright

fix(encryption): address review — doc error names, lock the warn-once race (LAB-4642)
  .secrets.baseline
  SECURITY.md
  docs/features/zero-knowledge-encryption.md
  src/cachekit/cache_handler.py
  tests/unit/test_cache_handler_encryption_autodetect.py
Due: basedpyright

fix(encryption): a missing interop tenant_id fails loud instead of evicting as corruption (LAB-4666)
  src/cachekit/cache_handler.py
  tests/unit/test_single_tenant_mode.py
Due: basedpyright

refactor(config)!: remove six CachekitConfig knobs nothing reads (LAB-4740)
  docs/api-reference.md
  src/cachekit/config/settings.py
  tests/conftest.py
  tests/unit/test_config_env_fallback.py
Due: basedpyright

fix(encryption): claim the warn-once PID atomically instead of under a fork-reset lock (LAB-4642)
  .secrets.baseline
  src/cachekit/cache_handler.py
  tests/unit/test_cache_handler_encryption_autodetect.py
Due: basedpyright

docs(encryption): stop the activation docs overclaiming what the key's presence encrypts (LAB-4642)
  SECURITY.md
  docs/backends/cachekitio.md
  docs/features/zero-knowledge-encryption.md
Due: none

docs(encryption): hedge the remaining presence-activation claims and fix the table pointer (LAB-4642)
  docs/configuration.md
  docs/features/zero-knowledge-encryption.md
Due: none

refactor(config): point config probes at live fields; drop phantom override example (LAB-4740)
  docs/api-reference.md
  src/cachekit/config/settings.py
  src/cachekit/config/singleton.py
  tests/docs/test_ground_truth.py
  tests/unit/test_config_env_fallback.py
  tests/unit/test_config_unification.py
Due: basedpyright

fix(encryption): stop the auto-activation warning claiming an L1-only cache encrypts (LAB-4642)
  .secrets.baseline
  docs/CONTRIBUTING.md
  src/cachekit/cache_handler.py
  src/cachekit/config/nested.py
  src/cachekit/decorators/wrapper.py
  tests/unit/test_cache_handler_encryption_autodetect.py
Due: basedpyright

ci: run doctests, tests/docs and markdown examples on PRs (LAB-4767)
  .github/workflows/ci.yml
  CONTRIBUTING.md
Due: none

test: deliberately break one example per executable-doc suite (DO NOT MERGE)
  docs/troubleshooting.md
  src/cachekit/serializers/wrapper.py
  tests/docs/test_serializer_docs.py
Due: basedpyright

test(config): drop a redundant probe, cover arrow_compression; show get_settings() in the reference (LAB-4740)
  docs/api-reference.md
  src/cachekit/config/settings.py
  tests/unit/test_config_env_fallback.py
Due: basedpyright

ci: apply review findings to executable-docs steps (LAB-4767)
  .github/workflows/ci.yml
  CONTRIBUTING.md
Due: none

fix(encryption): say an L1-only cache is auto-activated but stores raw objects (LAB-4642)
  .secrets.baseline
  docs/features/zero-knowledge-encryption.md
  src/cachekit/cache_handler.py
  src/cachekit/config/nested.py
  src/cachekit/decorators/wrapper.py
  tests/unit/test_cache_handler_encryption_autodetect.py
Due: basedpyright

ci: correct the fork-PR rationale in the Codecov upload comment
  .github/workflows/ci.yml
Due: none

ci: ground the fork-PR rationale in pull_request containment
  .github/workflows/ci.yml
Due: none

fix: address coderabbit review — fork-PR note names the read-only job token
  .github/workflows/ci.yml
Due: none

ci: correct the fork-PR rationale in the Codecov upload comment (LAB-4777) (#327)
  .github/workflows/ci.yml
Due: none

fix(backends): scope each Redis operation to the calling tenant, not the first caller (LAB-4773)
  docs/features/distributed-locking.md
  src/cachekit/backends/__init__.py
  src/cachekit/backends/base.py
  src/cachekit/backends/provider.py
  src/cachekit/backends/redis/provider.py
  src/cachekit/decorators/wrapper.py
  tests/fixtures/backend_providers.py
  tests/integration/test_redis_backend_provider.py
  tests/unit/backends/test_provider.py
Due: basedpyright

fix(l1): restart the background cleanup thread in forked children (LAB-4772)
  docs/free-threading.md
  src/cachekit/l1_cache.py
  tests/unit/test_l1_memory_bounds.py
Due: basedpyright

test(l1): kill a hung fork child; hammer the post-fork take-over on the free-threaded lane (LAB-4772)
  tests/unit/test_free_threading.py
  tests/unit/test_l1_memory_bounds.py
Due: basedpyright

fix(backends): keep other tenants' entries tracked on invalidate; accept non-str tenant ids (LAB-4773)
  docs/backends/README.md
  docs/features/distributed-locking.md
  docs/features/l1-invalidation.md
  src/cachekit/backends/__init__.py
  src/cachekit/backends/provider.py
  src/cachekit/backends/redis/provider.py
  src/cachekit/decorators/wrapper.py
  tests/integration/test_redis_backend_provider.py
  tests/unit/backends/test_provider.py
Due: basedpyright

refactor(l1): spawn the restarted cleanup thread without re-entering start (LAB-4772)
  docs/free-threading.md
  src/cachekit/l1_cache.py
  tests/unit/test_free_threading.py
  tests/unit/test_l1_memory_bounds.py
Due: basedpyright

fix(backends): provider-issued Redis backends follow the calling tenant (LAB-4773)
  docs/features/distributed-locking.md
  src/cachekit/backends/base.py
  src/cachekit/backends/provider.py
  src/cachekit/backends/redis/provider.py
  tests/fixtures/backend_providers.py
  tests/integration/test_redis_backend_provider.py
Due: basedpyright

ci: tidy workflow comment and message text
  .github/workflows/attestation-check.yml
  .github/workflows/ci.yml
  .github/workflows/fuzz-smoke.yml
  .github/workflows/pr-title-lint.yml
  .github/workflows/release-please.yml
  .github/workflows/security-deep.yml
Due: none

ci: drop repeated and dangling comment text
  .github/workflows/attestation-check.yml
  .github/workflows/ci.yml
Due: none

test(backends): unit-cover per-tenant scoping; document shared L1 (LAB-4773)
  docs/backends/README.md
  docs/features/l1-invalidation.md
  tests/integration/test_redis_backend_provider.py
  tests/unit/backends/test_redis_backend.py
Due: basedpyright

docs(encryption): drop stale deployment-UUID requirement from interop text (LAB-4666)
  docs/features/interop-mode.md
  src/cachekit/cache_handler.py
  tests/critical/test_encryption_integration.py
  tests/unit/test_single_tenant_mode.py
Due: basedpyright

fix(encryption): surface keyring config faults as KeyringConfigurationError (LAB-4818)
  docs/features/zero-knowledge-encryption.md
  rust/src/python_bindings.rs
  src/cachekit/cache_handler.py
  src/cachekit/serializers/encryption_wrapper.py
  tests/unit/test_key_rotation_keyring.py
Due: basedpyright, cargo-fmt, cargo-clippy

fix(encryption): keep config-drift keyring faults a miss; narrow docs (LAB-4818)
  .secrets.baseline
  docs/features/zero-knowledge-encryption.md
  rust/src/python_bindings.rs
  src/cachekit/cache_handler.py
  src/cachekit/serializers/encryption_wrapper.py
  tests/unit/test_key_rotation_keyring.py
Due: basedpyright, cargo-fmt, cargo-clippy

fix(encryption): relabel every drift-read keyring fault, not just construction (LAB-4818)
  docs/features/zero-knowledge-encryption.md
  src/cachekit/cache_handler.py
  tests/unit/test_key_rotation_keyring.py
Due: basedpyright

fix(cachekitio): one CACHEKIT_API_KEY reader, typed per-thread clients, failure-safe close (LAB-4643)
  src/cachekit/backends/cachekitio/backend.py
  src/cachekit/backends/cachekitio/client.py
  src/cachekit/config/decorator.py
  tests/unit/backends/test_cachekitio_client.py
  tests/unit/config/test_decorator_config.py
Due: basedpyright
