Repository cachekit-io/cachekit-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: basedpyright, cargo-fmt, cargo-clippy

basedpyright:
  name: basedpyright
  entry: .venv/bin/basedpyright src/ --level error
  language: system
  pass_filenames: false

cargo-fmt:
  name: Cargo format
  entry: bash -c 'cd rust && cargo fmt --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo clippy
  entry: bash -c 'cd rust && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

fix: address coderabbit review — L1-only SWR correctness and docs
  docs/configuration.md
  src/cachekit/decorators/wrapper.py
  src/cachekit/object_cache.py
  tests/unit/test_l1_only_swr.py
  tests/unit/test_object_cache.py
Due: basedpyright

fix: address coderabbit review — generation-aware refresh ownership
  src/cachekit/decorators/wrapper.py
  src/cachekit/object_cache.py
  tests/unit/test_object_cache.py
Due: basedpyright

fix(decorators): L1-only mode (backend=None) honors L1CacheConfig SWR + max_size_mb (LAB-106) (#219)
  docs/configuration.md
  src/cachekit/config/nested.py
  src/cachekit/decorators/wrapper.py
  src/cachekit/object_cache.py
  tests/unit/test_l1_only_swr.py
  tests/unit/test_object_cache.py
Due: basedpyright

fix(config): honor CACHEKIT_L1_MAX_SIZE_MB on presets + redact key on async cache-set logs (LAB-109)
  README.md
  docs/configuration.md
  docs/features/rust-serialization.md
  docs/getting-started.md
  src/cachekit/cache_handler.py
  src/cachekit/config/nested.py
  src/cachekit/decorators/wrapper.py
  tests/docs/test_ground_truth.py
  tests/integration/saas/README.md
  tests/unit/config/test_nested_configs.py
  tests/unit/test_l1_memory_bounds.py
Due: basedpyright

fix(security): explicit local re-raise on async decrypt fail-closed paths (LAB-108)
  src/cachekit/decorators/wrapper.py
  tests/unit/test_decrypt_fail_policy.py
Due: basedpyright

fix: address coderabbit review — mmap eligibility wording, Arrow/LZ4 scoping, env restore, all-preset coverage
  docs/configuration.md
  docs/features/rust-serialization.md
  tests/docs/test_ground_truth.py
  tests/unit/test_l1_memory_bounds.py
Due: basedpyright

fix(config): enforce l1_max_size_mb + max_value_size, remove dead zlib/chunk knobs (LAB-109) (#217)
  README.md
  docs/api-reference.md
  docs/configuration.md
  docs/features/rust-serialization.md
  docs/getting-started.md
  src/cachekit/__init__.py
  src/cachekit/cache_handler.py
  src/cachekit/config/nested.py
  src/cachekit/config/settings.py
  src/cachekit/config/singleton.py
  src/cachekit/decorators/wrapper.py
  src/cachekit/l1_cache.py
  tests/conftest.py
  tests/docs/test_ground_truth.py
  tests/integration/saas/README.md
  tests/unit/config/test_nested_configs.py
  tests/unit/test_config_env_fallback.py
  tests/unit/test_config_unification.py
  tests/unit/test_l1_memory_bounds.py
  tests/unit/test_max_value_size_enforcement.py
Due: basedpyright

test: stop docs conftest leaking CACHEKIT_MASTER_KEY into the env (#205) (#206)
  docs/CONTRIBUTING.md
  docs/conftest.py
  tests/unit/test_docs_conftest_no_key_leak.py
Due: basedpyright

chore: benchmark suite — fix harness, one-folder consolidation, measurement integrity + GIL + unified runner (#188)
  CONTRIBUTING.md
  Makefile
  docs/getting-started.md
  pyproject.toml
  tests/performance/README.md
  tests/performance/benchmark_checksum_ffi.py
  tests/performance/conftest.py
  tests/performance/gil_benchmark.py
  tests/performance/measurement_env.py
  tests/performance/test_measurement_calibration.py
  tests/performance/test_serializer_microbench.py
  tests/performance/test_statistical_rigor.py
Due: basedpyright

fix(redis): honour redis_url, fix zero-config DI crash, add finite socket timeouts (LAB-352)
  docs/backends/redis.md
  src/cachekit/backends/provider.py
  src/cachekit/backends/redis/backend.py
  src/cachekit/backends/redis/client.py
  src/cachekit/backends/redis/config.py
  src/cachekit/backends/redis/provider.py
  src/cachekit/config/decorator.py
  tests/integration/test_redis_backend.py
  tests/unit/backends/test_redis_backend.py
Due: basedpyright

test(redis): isolate config-object test from ambient REDIS_URL env
  tests/unit/backends/test_redis_backend.py
Due: basedpyright

refactor(redis): address CodeRabbit review — annotate PooledClientProvider, enforce pool-size invariant
  src/cachekit/backends/provider.py
  src/cachekit/backends/redis/backend.py
  src/cachekit/backends/redis/client.py
Due: basedpyright

fix(redis): honour redis_url, fix zero-config DI crash, add finite socket timeouts (LAB-352) (#224)
  docs/backends/redis.md
  src/cachekit/backends/provider.py
  src/cachekit/backends/redis/backend.py
  src/cachekit/backends/redis/client.py
  src/cachekit/backends/redis/config.py
  src/cachekit/backends/redis/provider.py
  src/cachekit/config/decorator.py
  tests/integration/test_redis_backend.py
  tests/unit/backends/test_redis_backend.py
Due: basedpyright

perf: release the GIL during ByteStorage compress/hash (LAB-347)
  rust/src/python_bindings.rs
  tests/critical/conftest.py
  tests/critical/test_byte_storage_gil.py
  tests/performance/test_large_object_memory.py
Due: basedpyright, cargo-fmt, cargo-clippy

perf: release the GIL during ByteStorage compress/hash (LAB-347) (#223)
  rust/src/python_bindings.rs
  tests/critical/conftest.py
  tests/critical/test_byte_storage_gil.py
  tests/performance/test_large_object_memory.py
Due: basedpyright, cargo-fmt, cargo-clippy

ci: keep the release-please PR rebased onto main (LAB-335)
  .github/workflows/release-please.yml
Due: none

fix: address coderabbit review — persist-credentials: false on release-PR checkout
  .github/workflows/release-please.yml
Due: none

ci: keep the release-please PR rebased onto main (LAB-335) (#221)
  .github/workflows/release-please.yml
Due: none

fix(security): route async decorator L2 reads through get_cached_value_async (LAB-111)
  src/cachekit/cache_handler.py
  src/cachekit/decorators/wrapper.py
  tests/unit/test_l2_decrypt_observability.py
Due: basedpyright

fix: address coderabbit review — centralize interop decoration-time validation
  src/cachekit/config/decorator.py
  src/cachekit/decorators/wrapper.py
  src/cachekit/interop.py
Due: basedpyright

feat(interop): opt-in interop/v1 mode — cross-SDK keys + plain-MessagePack values (LAB-245)
  docs/features/interop-mode.md
  src/cachekit/__init__.py
  src/cachekit/backends/memcached/backend.py
  src/cachekit/cache_handler.py
  src/cachekit/config/decorator.py
  src/cachekit/decorators/wrapper.py
  src/cachekit/interop.py
  src/cachekit/serializers/interop_serializer.py
  tests/unit/protocol/__init__.py
  tests/unit/protocol/fixtures/interop-mode.json
  tests/unit/protocol/test_interop_decorator.py
  tests/unit/protocol/test_interop_vectors.py
Due: basedpyright

test(interop): cover model edges — 32-bit msgpack tiers, arg normalization, direct-wrapper guards
  tests/unit/protocol/test_interop_decorator.py
  tests/unit/protocol/test_interop_model.py
Due: basedpyright

test(interop): pin intent-decorator composition — presets don't perturb interop bytes (LAB-245)
  tests/unit/protocol/test_interop_decorator.py
Due: basedpyright

fix(interop): apply expert-panel findings — fail-closed gaps + cross-SDK traps (LAB-245)
  docs/features/interop-mode.md
  src/cachekit/backends/redis/provider.py
  src/cachekit/cache_handler.py
  src/cachekit/config/decorator.py
  src/cachekit/decorators/wrapper.py
  src/cachekit/interop.py
  src/cachekit/serializers/encryption_wrapper.py
  src/cachekit/serializers/interop_serializer.py
  tests/backends/mock_backend.py
  tests/unit/protocol/test_interop_decorator.py
Due: basedpyright

feat(interop): opt-in interop/v1 mode — cross-SDK keys + plain-MessagePack values (LAB-245) (#220)
  docs/features/interop-mode.md
  src/cachekit/__init__.py
  src/cachekit/backends/memcached/backend.py
  src/cachekit/backends/redis/provider.py
  src/cachekit/cache_handler.py
  src/cachekit/config/decorator.py
  src/cachekit/decorators/wrapper.py
  src/cachekit/interop.py
  src/cachekit/serializers/encryption_wrapper.py
  src/cachekit/serializers/interop_serializer.py
  tests/backends/mock_backend.py
  tests/unit/protocol/__init__.py
  tests/unit/protocol/fixtures/interop-mode.json
  tests/unit/protocol/test_interop_decorator.py
  tests/unit/protocol/test_interop_model.py
  tests/unit/protocol/test_interop_vectors.py
Due: basedpyright

fix: address coderabbit review — run async interop guard before L1 lookup
  src/cachekit/decorators/wrapper.py
  tests/unit/protocol/test_interop_decorator.py
Due: basedpyright

feat(cachekitio): SWR transport layer — freshness-aware reads, stale-grace writes (LAB-381, part 1/2)
  src/cachekit/backends/cachekitio/backend.py
  src/cachekit/cache_handler.py
  tests/unit/backends/test_cachekitio_swr_transport.py
Due: basedpyright

fix: address coderabbit review — run async interop guard before L1 lookup (#227)
  src/cachekit/decorators/wrapper.py
  tests/unit/protocol/test_interop_decorator.py
Due: basedpyright

test(protocol): vendor + byte-verify auto-mode cache-key vectors (LAB-425)
  tests/unit/protocol/fixtures/cache-keys.json
  tests/unit/protocol/test_cache_key_vectors.py
Due: basedpyright

feat(backends): TTLInspectableBackend for File + Memcached (LAB-446)
  docs/backends/README.md
  docs/backends/file.md
  docs/backends/memcached.md
  src/cachekit/backends/base.py
  src/cachekit/backends/file/backend.py
  src/cachekit/backends/memcached/backend.py
  src/cachekit/cache_handler.py
  src/cachekit/decorators/wrapper.py
  tests/unit/backends/test_ttl_inspection.py
  tests/unit/test_context_leak_regression.py
Due: basedpyright

test(backends): cover TTLInspectableBackend error/corruption branches (LAB-446)
  tests/unit/backends/test_ttl_inspection.py
Due: basedpyright

fix(cache_handler): clarify TTL-inspection warning wording (LAB-446)
  src/cachekit/cache_handler.py
Due: basedpyright

feat(decorator): stale-while-revalidate surface — stale_ttl param, serve-stale + background revalidation (LAB-381, part 2/2)
  docs/configuration.md
  src/cachekit/cache_handler.py
  src/cachekit/config/decorator.py
  src/cachekit/decorators/intent.py
  src/cachekit/decorators/wrapper.py
  tests/unit/test_swr_decorator.py
Due: basedpyright

fix(security): route async decorator L2 reads through get_cached_value_async (LAB-111) (#216)
  src/cachekit/cache_handler.py
  src/cachekit/decorators/wrapper.py
  tests/unit/test_l2_decrypt_observability.py
Due: basedpyright

ci: add conventional-commit PR title lint (LAB-451)
  .github/workflows/pr-title-lint.yml
Due: none

feat(security): tamper telemetry + fail-closed decrypt policy (LAB-108) (#218)
  docs/api-reference.md
  docs/configuration.md
  docs/features/prometheus-metrics.md
  docs/features/rust-serialization.md
  docs/features/zero-knowledge-encryption.md
  docs/serializers/default.md
  src/cachekit/cache_handler.py
  src/cachekit/config/decorator.py
  src/cachekit/config/nested.py
  src/cachekit/config/settings.py
  src/cachekit/decorators/intent.py
  src/cachekit/decorators/wrapper.py
  src/cachekit/serializers/__init__.py
  src/cachekit/serializers/base.py
  src/cachekit/serializers/encryption_wrapper.py
  tests/unit/test_decrypt_fail_policy.py
  tests/unit/test_l2_decrypt_observability.py
Due: basedpyright

docs: warn against per-call re-decoration resetting session stats (LAB-484)
  docs/api-reference.md
Due: none

fix(decorators): bind session counters to function identity, not wrapper instance (LAB-506)
  README.md
  docs/api-reference.md
  src/cachekit/backends/cachekitio/session.py
  src/cachekit/decorators/session.py
  src/cachekit/decorators/wrapper.py
  tests/unit/test_saas_observability.py
Due: basedpyright

fix(decorators): close session-init partial-state race; cover fork-reset handlers in-process
  src/cachekit/decorators/session.py
  tests/unit/test_saas_observability.py
Due: basedpyright

docs: warn against per-call re-decoration resetting session stats (LAB-484) (#232)
  docs/api-reference.md
Due: none

Path conditions:
  basedpyright: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
