Repository cachekit-io/cachekit-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: basedpyright, cargo-fmt, cargo-clippy

basedpyright:
  name: basedpyright
  entry: .venv/bin/basedpyright src/ --level error
  language: system
  pass_filenames: false

cargo-fmt:
  name: Cargo format
  entry: bash -c 'cd rust && cargo fmt --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo clippy
  entry: bash -c 'cd rust && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

test(perf): free-threaded decorated-call scaling bench and default-install GIL check (LAB-7060) (#424)
  docs/free-threading.md
  tests/performance/README.md
  tests/performance/ft_scaling_bench.py
  tests/performance/loopback_saas.py
  tests/unit/test_free_threading.py
Due: basedpyright

fix(perf): run at most 8 callgrind processes at a time by default (LAB-7038)
  docs/performance.md
  tests/performance/ir_budget.py
  tests/unit/test_ir_budget.py
Due: basedpyright

fix(perf): figure is the median of five layouts again; the cheapest one is a lucky outlier (LAB-7038)
  tests/performance/ir_budget.py
Due: basedpyright

fix(metrics): export circuit_breaker_state to Prometheus as a per-state count (LAB-6403) (#428)
  README.md
  docs/api-reference.md
  docs/configuration.md
  docs/features/circuit-breaker.md
  docs/features/prometheus-metrics.md
  src/cachekit/config/decorator.py
  src/cachekit/reliability/async_metrics.py
  src/cachekit/reliability/circuit_breaker.py
  tests/unit/test_circuit_breaker_prometheus_state.py
Due: basedpyright

fix(perf): re-record budgets as medians at the capped harness (LAB-7038)
  tests/performance/ir_baselines.json
Due: none

refactor(perf): measured process in ir_workload.py, so editing the gate cannot move the budgets (LAB-7038)
  tests/performance/ir_budget.py
  tests/performance/ir_workload.py
  tests/unit/test_ir_budget.py
Due: basedpyright

fix(decorators): cancel TTL refreshes pruned from stopped event loops (LAB-7074)
  src/cachekit/decorators/wrapper.py
  tests/unit/backends/test_ttl_inspection.py
Due: basedpyright

fix(decorators): hold a stopped loop's TTL refresh slot until its request can settle (LAB-7074)
  src/cachekit/decorators/wrapper.py
  tests/unit/backends/test_ttl_inspection.py
Due: basedpyright

fix(perf): re-record budgets with the measured process in ir_workload.py (LAB-7038)
  tests/performance/ir_baselines.json
Due: none

fix(cachekitio): key the async client per running event loop (LAB-7102) (#433)
  docs/backends/cachekitio.md
  src/cachekit/backends/cachekitio/backend.py
  src/cachekit/backends/cachekitio/client.py
  src/cachekit/decorators/wrapper.py
  tests/critical/test_cachekitio_metrics_critical.py
  tests/unit/backends/test_cachekitio_backend.py
  tests/unit/backends/test_cachekitio_client.py
  tests/unit/backends/test_cachekitio_event_loops.py
  tests/unit/backends/test_cachekitio_lock_protocol.py
  tests/unit/backends/test_cachekitio_lock_url.py
  tests/unit/backends/test_cachekitio_path_encoding.py
  tests/unit/backends/test_cachekitio_swr_transport.py
  tests/unit/config/test_decorator_config.py
  tests/unit/test_cachekitio_call_shape.py
Due: basedpyright

fix(metrics): give a forked child its own batching state and record synchronously after shutdown (LAB-6779) (#434)
  docs/free-threading.md
  src/cachekit/reliability/async_metrics.py
  tests/unit/test_async_metrics_mode_switch.py
  tests/unit/test_single_metrics_record.py
Due: basedpyright

refactor(rust): delete the unused get_last_metrics binding and OperationMetrics pyclass (LAB-7324)
  rust/src/lib.rs
  rust/src/python_bindings.rs
Due: cargo-fmt, cargo-clippy

fix(l1): treat every child the at-fork hook missed as hookless, and drop silently there (LAB-7271)
  docs/free-threading.md
  src/cachekit/l1_cache.py
  tests/unit/test_l1_memory_bounds.py
Due: basedpyright

docs(perf): median of five layouts, ir_workload.py, measured ranges and final budgets (LAB-7038)
  docs/performance.md
  tests/performance/ir_budget.py
Due: basedpyright

test(perf): main-thread per-op instruction budget, make perf-ir (LAB-7038) (#425)
  CONTRIBUTING.md
  Makefile
  docs/performance.md
  tests/performance/README.md
  tests/performance/ir_baselines.json
  tests/performance/ir_budget.py
  tests/performance/ir_workload.py
  tests/unit/test_ir_budget.py
Due: basedpyright

docs(decorators): state the TTL refresh cap as hard on running loops, best-effort on stopped ones (LAB-7074)
  docs/backends/cachekitio.md
  src/cachekit/decorators/wrapper.py
Due: basedpyright

refactor(rust): delete the unused get_last_metrics binding and OperationMetrics pyclass (LAB-7324) (#437)
  rust/src/lib.rs
  rust/src/python_bindings.rs
Due: cargo-fmt, cargo-clippy

docs(interop): defer to docs.cachekit.io and the spec; correct the stale CachekitIO caveat (LAB-1010)
  docs/features/interop-mode.md
Due: none

docs(interop): defer to docs.cachekit.io and the spec; correct the stale CachekitIO caveat (LAB-1010) (#438)
  docs/features/interop-mode.md
Due: none

docs(interop): describe tenant mismatch by fail policy, not as a non-miss (LAB-1010)
  docs/features/interop-mode.md
Due: none

docs(interop): describe tenant mismatch by fail policy, not as a non-miss (LAB-1010) (#439)
  docs/features/interop-mode.md
Due: none

perf(keys): fast-path exact primitives in key normalisation (LAB-7068) (#422)
  src/cachekit/key_generator.py
  tests/unit/test_cache_key_generator.py
Due: basedpyright

test(perf): ratchet Ir budgets after the keygen fast path (LAB-7068)
  tests/performance/ir_baselines.json
Due: none

test(perf): ratchet Ir budgets after the keygen fast path (LAB-7068) (#440)
  tests/performance/ir_baselines.json
Due: none

docs(l1): state that hookless detection needs cachekit imported before a fork from C (LAB-7271)
  docs/free-threading.md
  src/cachekit/l1_cache.py
Due: basedpyright

perf(serializers): memoize CK frame headers and pack AutoSerializer values without rebuilding the tree (LAB-7069)
  docs/serializers/auto.md
  src/cachekit/cache_handler.py
  src/cachekit/serializers/auto_serializer.py
  src/cachekit/serializers/wrapper.py
  tests/unit/test_auto_serializer_strict_pack.py
  tests/unit/test_l2_decrypt_observability.py
  tests/unit/test_serialization_wrapper.py
Due: basedpyright

fix(serializers): give custom serializers their own metadata copy; make numpy optional in the strict-pack test (LAB-7069)
  docs/serializers/auto.md
  src/cachekit/cache_handler.py
  src/cachekit/serializers/wrapper.py
  tests/unit/test_auto_serializer_strict_pack.py
  tests/unit/test_serialization_wrapper.py
Due: basedpyright

test(perf): ratchet 3.14 Ir budgets after the header memo and strict packing (LAB-7069)
  tests/performance/ir_baselines.json
Due: none

fix(l1): start no cleanup thread in a child forked without at-fork hooks (LAB-7271) (#436)
  docs/free-threading.md
  src/cachekit/l1_cache.py
  tests/unit/test_l1_memory_bounds.py
Due: basedpyright

test(perf): ratchet 3.12 Ir budgets after the header memo and strict packing (LAB-7069)
  tests/performance/ir_baselines.json
Due: none

fix(serializers): apply expert-panel findings on the header memo and strict packing (LAB-7069)
  src/cachekit/serializers/auto_serializer.py
  src/cachekit/serializers/wrapper.py
  tests/unit/test_auto_serializer_strict_pack.py
  tests/unit/test_serialization_wrapper.py
Due: basedpyright

fix(serializers): copy list and tuple subclasses through iter(), not len() (LAB-7069)
  src/cachekit/serializers/auto_serializer.py
  tests/unit/test_auto_serializer_strict_pack.py
Due: basedpyright

fix(serializers): copy sequence subclasses with a comprehension, as the old pre-pass did (LAB-7069)
  src/cachekit/serializers/auto_serializer.py
  tests/unit/test_auto_serializer_strict_pack.py
Due: basedpyright

fix(serializers): read dict and bytes subclasses as the old path did, closing the hook class (LAB-7069)
  src/cachekit/serializers/auto_serializer.py
  tests/unit/test_auto_serializer_strict_pack.py
Due: basedpyright

fix(decorators): an async return value the cache write cannot serialize no longer counts toward the circuit breaker (LAB-7461)
  docs/error-codes.md
  docs/features/circuit-breaker.md
  docs/troubleshooting.md
  src/cachekit/decorators/wrapper.py
  tests/unit/test_serialize_failure_breaker.py
Due: basedpyright

refactor(tests): route tenant switching through the shared as_tenant helper (LAB-5964)
  src/cachekit/backends/redis/provider.py
  tests/backends/mock_backend.py
  tests/integration/test_backend_error_handling.py
  tests/integration/test_key_registry_redis.py
  tests/integration/test_redis_backend_provider.py
  tests/unit/backends/test_redis_backend.py
Due: basedpyright

fix(cachekitio): DELETE never reports existence, so a 404 raises (LAB-5580)
  docs/backends/README.md
  src/cachekit/backends/base.py
  src/cachekit/backends/cachekitio/backend.py
  tests/performance/loopback_saas.py
  tests/unit/backends/test_cachekitio_backend.py
Due: basedpyright

fix(redis): size every pool from config (default 50) and wait on exhaustion (LAB-7457)
  docs/backends/redis.md
  docs/configuration.md
  docs/data-flow-architecture.md
  docs/error-codes.md
  docs/getting-started.md
  src/cachekit/backends/provider.py
  src/cachekit/backends/redis/client.py
  src/cachekit/backends/redis/config.py
  src/cachekit/backends/redis/provider.py
  tests/integration/test_redis_backend.py
  tests/unit/backends/test_redis_backend.py
  tests/unit/test_config_env_fallback.py
  tests/unit/test_config_unification.py
Due: basedpyright

refactor(reliability)!: delete unconsumed reliability profiles module (LAB-6352)
  src/cachekit/reliability/profiles.py
  tests/critical/test_reliability_profiles.py
Due: basedpyright

fix(swr): log failed and skipped background refreshes at WARNING (LAB-7456)
  docs/configuration.md
  docs/features/l1-invalidation.md
  src/cachekit/decorators/wrapper.py
  tests/unit/test_async_resource_management.py
  tests/unit/test_key_registry.py
  tests/unit/test_l1_only_swr.py
  tests/unit/test_swr_decorator.py
Due: basedpyright

Path conditions:
  basedpyright: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
