Repository cachekit-io/cachekit-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: basedpyright, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

# Pre-commit hooks for cachekit
# Install: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python formatting and linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff
        args: [--fix]
        name: Ruff lint
      - id: ruff-format
        name: Ruff format

  # Rust formatting and linting
  - repo: local
    hooks:
      # Python type checking with basedpyright
      # Uses venv directly to avoid uv run modifying uv.lock
      - id: basedpyright
        name: basedpyright
        entry: .venv/bin/basedpyright src/ --level error
        language: system
        types: [python]
        pass_filenames: false

      - id: cargo-fmt
        name: Cargo format
        entry: bash -c 'cd rust && cargo fmt --check'
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: Cargo clippy
        entry: bash -c 'cd rust && cargo clippy -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict

  # Secret scanning - prevent credential leaks
  # Uses Yelp's detect-secrets with high entropy detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args:
          - --baseline
          - .secrets.baseline
        exclude: |
          (?x)^(
            .*\.lock$|
            .*\.sum$|
            tests/fixtures/.*|
            docs/.*\.md$
          )$

fix(logging): sanitise error kwarg at the structured cache-operation sinks (LAB-3666) (#301)
  SECURITY.md
  src/cachekit/decorators/orchestrator.py
  src/cachekit/logging.py
  tests/unit/test_error_path_key_redaction.py
  tests/unit/test_log_redaction_architecture.py
  tests/unit/test_structured_logging.py
Due: basedpyright

docs(security): name __context__ as the third provider-exception reference (LAB-3796)
  SECURITY.md
Due: none

fix(decorators): async lock double-check L2 hits record get telemetry (LAB-3769)
  src/cachekit/decorators/wrapper.py
  tests/unit/test_async_l2_double_check_hit_labels.py
Due: basedpyright

fix: address coderabbit review — cover lock-timeout double-check hit telemetry
  tests/unit/test_async_l2_double_check_hit_labels.py
Due: basedpyright

perf(decorators): backfill L1 on sync L2 hits; size stats by envelope length (LAB-348) (#294)
  src/cachekit/cache_handler.py
  src/cachekit/decorators/wrapper.py
  tests/unit/test_decrypt_fail_policy.py
  tests/unit/test_l2_decrypt_observability.py
  tests/unit/test_l2_hit_l1_backfill.py
  tests/unit/test_mmap_read_path.py
  tests/unit/test_swr_decorator.py
Due: basedpyright

docs(security): name __traceback__ as a fourth scrub target (LAB-3796)
  SECURITY.md
Due: none

chore(deps): constrain anyio >=4.14.2 for GHSA-82r6-8w77-94w6 / GHSA-5p39-cfhj-2xmp
  pyproject.toml
  uv.lock
Due: none

fix(decorators): restore the reviewed envelope reuse in _record_l2_hit_async
  src/cachekit/decorators/wrapper.py
Due: basedpyright

fix(deps): ship the anyio and h2 security floors in package metadata
  pyproject.toml
  src/cachekit/decorators/wrapper.py
  uv.lock
Due: basedpyright

docs(encryption): backend-resolution timing, tenant-mode and compliance wording corrections (LAB-749)
  .secrets.baseline
  SECURITY.md
  docs/backends/README.md
  docs/backends/cachekitio.md
  docs/features/zero-knowledge-encryption.md
  docs/serializers/encryption.md
  src/cachekit/config/decorator.py
Due: basedpyright

fix(decorators): distinguish collector refusals from telemetry bugs at the L2 hit record
  src/cachekit/decorators/wrapper.py
  tests/unit/test_async_l2_double_check_hit_labels.py
Due: basedpyright

fix(decorators): record the local L2 stat before the external collector
  src/cachekit/decorators/wrapper.py
  tests/unit/test_async_l2_double_check_hit_labels.py
Due: basedpyright

fix(ci): make the Atheris fuzz job capable of failing + repair its dead targets (LAB-1140) (#269)
  .github/workflows/security-deep.yml
  .gitignore
  scripts/fuzz-python.sh
  tests/fuzzing/corpus/.gitignore
  tests/fuzzing/fuzz_byte_storage.py
  tests/fuzzing/fuzz_decorator_stack.py
  tests/fuzzing/fuzz_encryption_wrapper.py
  tests/fuzzing/fuzz_raw_serializer.py
Due: basedpyright

fix(decorators): async lock double-check L2 hits record get telemetry (LAB-3769) (#303)
  pyproject.toml
  src/cachekit/decorators/wrapper.py
  tests/unit/test_async_l2_double_check_hit_labels.py
  uv.lock
Due: basedpyright

fix(serializers): type ByteStorage.retrieve failures and collapse duplicated columnar decode (LAB-2736) (#287)
  rust/src/lib.rs
  rust/src/python_bindings.rs
  src/cachekit/serializers/auto_serializer.py
  tests/unit/test_auto_serializer_mutation_and_corruption.py
  tests/unit/test_auto_serializer_new_types.py
Due: basedpyright, cargo-fmt, cargo-clippy

fix(serializers): fail closed on unverified DataFrame/Series envelopes
  docs/error-codes.md
  docs/features/rust-serialization.md
  src/cachekit/serializers/auto_serializer.py
  tests/unit/test_auto_serializer_mutation_and_corruption.py
Due: basedpyright

refactor(cache-handler): replace anonymous cache-hit 4-tuple with CacheHit NamedTuple (LAB-3757)
  src/cachekit/cache_handler.py
  src/cachekit/decorators/wrapper.py
  tests/performance/test_large_object_memory.py
  tests/unit/test_decrypt_fail_policy.py
  tests/unit/test_l2_decrypt_observability.py
  tests/unit/test_mmap_read_path.py
  tests/unit/test_streaming_write_path.py
  tests/unit/test_swr_decorator.py
Due: basedpyright

fix(decorators): async L2 hit stats read CacheHit.size_bytes, not len(envelope) (LAB-3757)
  src/cachekit/decorators/wrapper.py
Due: basedpyright

fix(serializers): fail closed when an integrity-off reader meets a writer-enveloped entry
  docs/error-codes.md
  src/cachekit/serializers/auto_serializer.py
  src/cachekit/serializers/standard_serializer.py
  tests/unit/test_auto_serializer_mutation_and_corruption.py
  tests/unit/test_standard_serializer.py
Due: basedpyright

fix(serializers): fail closed on unverified DataFrame/Series envelopes (LAB-2736) (#304)
  docs/error-codes.md
  docs/features/rust-serialization.md
  src/cachekit/serializers/auto_serializer.py
  src/cachekit/serializers/standard_serializer.py
  tests/unit/test_auto_serializer_mutation_and_corruption.py
  tests/unit/test_standard_serializer.py
Due: basedpyright

fix(cache_handler): evict on corrupt CK frame header, not just payload (LAB-4075)
  docs/features/rust-serialization.md
  src/cachekit/cache_handler.py
  tests/unit/test_l2_decrypt_observability.py
Due: basedpyright

fix(cache_handler): narrow corrupt-envelope catch to parser exception classes (LAB-4075)
  src/cachekit/cache_handler.py
  tests/unit/test_l2_decrypt_observability.py
Due: basedpyright

docs(encryption): correct SaaS-selector precedence, SWR mechanism and L1-SWR claim; restore separated alerts (LAB-749)
  docs/backends/README.md
  docs/features/zero-knowledge-encryption.md
  src/cachekit/config/singleton.py
Due: basedpyright

docs(encryption): remove false selector-precedence framing; correct SWR timing and L1 claim (LAB-749)
  docs/backends/README.md
  docs/features/zero-knowledge-encryption.md
  docs/serializers/README.md
  src/cachekit/backends/provider.py
  src/cachekit/config/decorator.py
Due: basedpyright

docs(encryption): quote the memcached example for bash; finish the selector-precedence fix (LAB-749)
  docs/backends/README.md
  docs/features/zero-knowledge-encryption.md
  docs/serializers/README.md
  src/cachekit/backends/provider.py
Due: basedpyright

fix(serializers): take the format from the envelope, not the header; drop the header-gated fall-through (LAB-2736)
  docs/error-codes.md
  rust/src/python_bindings.rs
  src/cachekit/serializers/auto_serializer.py
  tests/unit/test_auto_serializer_mutation_and_corruption.py
Due: basedpyright, cargo-fmt, cargo-clippy

docs(backends): name the log signal for a swallowed selector-conflict error (LAB-749)
  docs/backends/README.md
Due: none

docs(encryption): backend=None does not encrypt — correct every example that claimed it (LAB-749)
  .secrets.baseline
  docs/features/zero-knowledge-encryption.md
  src/cachekit/config/decorator.py
Due: basedpyright

fix(serializers): take the format from the envelope, not the header; drop the header-gated fall-through (LAB-2736) (#308)
  docs/error-codes.md
  rust/src/python_bindings.rs
  src/cachekit/serializers/auto_serializer.py
  tests/unit/test_auto_serializer_mutation_and_corruption.py
Due: basedpyright, cargo-fmt, cargo-clippy

docs(encryption): source example master keys from the environment, not literals (LAB-749)
  docs/features/zero-knowledge-encryption.md
  src/cachekit/decorators/wrapper.py
Due: basedpyright

docs(encryption): remove the multi-tenant example — it leaked across tenants (LAB-749)
  docs/features/zero-knowledge-encryption.md
Due: none

test(cache_handler): pin eviction for parser faults outside the narrowed catch (LAB-4075)
  tests/unit/test_l2_decrypt_observability.py
Due: basedpyright

docs: state the asymmetric integrity_checking mismatch rule (LAB-4073)
  docs/api-reference.md
  docs/serializers/auto.md
Due: none

docs: document AutoSerializer integrity_checking cross-config read behavior (LAB-4073)
  docs/api-reference.md
  docs/error-codes.md
  docs/serializers/auto.md
Due: none

docs: correct DataFrame integrity_checking mismatch behavior (LAB-4073)
  docs/api-reference.md
  docs/serializers/auto.md
  tests/unit/test_serializer_integrity.py
Due: basedpyright

docs: point integrity_checking at the cross-config table instead of restating it (LAB-4169)
  docs/api-reference.md
Due: none

docs: fail-closed on every MessagePack path in the cross-config table (LAB-4073)
  docs/serializers/auto.md
Due: none

fix(serializers): settle the envelope format by agreement, not by a winner (LAB-2736)
  docs/data-flow-architecture.md
  docs/error-codes.md
  src/cachekit/serializers/auto_serializer.py
  tests/unit/protocol/test_decode_bounds.py
  tests/unit/test_auto_serializer_mutation_and_corruption.py
Due: basedpyright

docs: per-path cross-config table with the numpy row; key= does not segregate the flag (LAB-4073)
  docs/api-reference.md
  docs/serializers/auto.md
  tests/unit/test_serializer_integrity.py
Due: basedpyright

fix(serializers): detect Arrow structurally; symmetric format agreement; bound the echo (LAB-2736)
  docs/data-flow-architecture.md
  src/cachekit/serializers/auto_serializer.py
  tests/unit/protocol/test_decode_bounds.py
  tests/unit/test_auto_serializer_mutation_and_corruption.py
Due: basedpyright
