Repository cachekit-io/cachekit-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: basedpyright, cargo-fmt, cargo-clippy

basedpyright:
  name: basedpyright
  entry: .venv/bin/basedpyright src/ --level error
  language: system
  pass_filenames: false

cargo-fmt:
  name: Cargo format
  entry: bash -c 'cd rust && cargo fmt --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo clippy
  entry: bash -c 'cd rust && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

feat(encryption): keyring rotation — previous_master_keys + fingerprint selection (LAB-684) (#261)
  .secrets.baseline
  Cargo.lock
  README.md
  docs/configuration.md
  docs/features/zero-knowledge-encryption.md
  pyproject.toml
  rust/Cargo.toml
  rust/src/lib.rs
  rust/src/python_bindings.rs
  src/cachekit/cache_handler.py
  src/cachekit/config/settings.py
  src/cachekit/decorators/wrapper.py
  src/cachekit/serializers/__init__.py
  src/cachekit/serializers/encryption_wrapper.py
  tests/unit/test_key_rotation_keyring.py
  uv.lock
Due: basedpyright, cargo-fmt, cargo-clippy

test: accept #fragment/?query suffixes on index links (LAB-1013)
  tests/unit/test_feature_guide_index.py
Due: basedpyright

fix(fuzz): apply expert-panel findings to corpus tooling (LAB-1149)
  .github/workflows/fuzz-smoke.yml
  rust/fuzz/Makefile
  rust/fuzz/README.md
  rust/fuzz/corpus/byte_storage_compress/unicode.bin
  rust/fuzz/corpus/byte_storage_corrupted_envelope/invalid_msgpack.bin
  rust/fuzz/corpus/byte_storage_decompress/invalid_msgpack.bin
  rust/fuzz/corpus/encryption_key_derivation/bom.bin
  rust/fuzz/corpus/encryption_key_derivation/empty_tenant.bin
  rust/fuzz/corpus/encryption_key_derivation/null_byte.bin
  rust/fuzz/corpus/encryption_key_derivation/path_traversal.bin
  rust/fuzz/corpus/encryption_key_derivation/unicode.bin
  rust/fuzz/corpus/encryption_large_payload/key_100k_random.bin
  rust/fuzz/corpus/encryption_large_payload/key_1k.bin
  rust/fuzz/corpus/encryption_large_payload/key_64k.bin
  rust/fuzz/corpus/integration_layered_security/key_random.bin
  rust/fuzz/scripts/generate_corpus.sh
  rust/fuzz/scripts/minimize_corpus.sh
  rust/fuzz/scripts/validate_corpus.sh
Due: none

fix: address coderabbit review — corpus tooling correctness (LAB-1149)
  .github/workflows/fuzz-smoke.yml
  rust/fuzz/Makefile
  rust/fuzz/README.md
  rust/fuzz/corpus/CORPUS_INFO.md
  rust/fuzz/scripts/generate_corpus.sh
  rust/fuzz/scripts/minimize_corpus.sh
  rust/fuzz/scripts/validate_corpus.sh
Due: none

fix: address coderabbit review — working-dir docs + parity-filter coherence (LAB-1149)
  .github/workflows/fuzz-smoke.yml
  rust/fuzz/README.md
  rust/fuzz/corpus/CORPUS_INFO.md
Due: none

fix(logging): redact cache keys at the shared error sink (LAB-304)
  SECURITY.md
  src/cachekit/decorators/orchestrator.py
  src/cachekit/decorators/wrapper.py
  tests/unit/test_orchestrator_error_handling.py
Due: basedpyright

fix(logging): redact remaining raw-key log sites tree-wide (LAB-304)
  .secrets.baseline
  lab304.diff
  src/cachekit/backends/provider.py
  src/cachekit/cache_handler.py
  src/cachekit/decorators/orchestrator.py
  src/cachekit/decorators/wrapper.py
  src/cachekit/hash_utils.py
  src/cachekit/l1_cache.py
  tests/unit/backends/test_provider.py
  tests/unit/test_wrapper_lock_bare_key.py
Due: basedpyright

chore: remove stray review-scratch diff file (LAB-304)
  lab304.diff
Due: none

fix(logging): cover error-path redaction with tests; bump pip floor for PYSEC-2026-3721 (LAB-304)
  pyproject.toml
  src/cachekit/cache_handler.py
  tests/unit/test_error_path_key_redaction.py
  uv.lock
Due: basedpyright

fix: address coderabbit review — redact BackendError key in exception text; strict log pass-through
  src/cachekit/backends/errors.py
  src/cachekit/decorators/orchestrator.py
  tests/integration/test_backend_error_handling.py
  tests/integration/test_redis_backend.py
  tests/unit/test_backend_protocol.py
  tests/unit/test_error_path_key_redaction.py
  tests/unit/test_orchestrator_error_handling.py
  tests/unit/test_wrapper_lock_bare_key.py
Due: basedpyright

fix(logging): close residual raw-key channels found by panel review (LAB-304)
  SECURITY.md
  src/cachekit/backends/memcached/backend.py
  src/cachekit/backends/memcached/error_handler.py
  src/cachekit/hash_utils.py
  src/cachekit/logging.py
  tests/critical/test_memcached_backend_critical.py
  tests/unit/test_orchestrator_error_handling.py
  tests/unit/test_structured_logging.py
Due: basedpyright

feat(concurrency): free-threaded CPython support — memory-ordering fixes, gil_used=false, CI lane (LAB-511)
  .github/workflows/ci.yml
  README.md
  docs/README.md
  docs/free-threading.md
  pyproject.toml
  rust/src/lib.rs
  src/cachekit/decorators/session.py
  src/cachekit/reliability/metrics_collection.py
  tests/critical/test_cache_serializer_compression.py
  tests/critical/test_cache_serializer_patterns.py
  tests/critical/test_encryption_integration.py
  tests/critical/test_production_data_patterns.py
  tests/unit/test_arrow_serializer.py
  tests/unit/test_auto_serializer_mutation_and_corruption.py
  tests/unit/test_auto_serializer_new_types.py
  tests/unit/test_auto_serializer_numpy_integrity.py
  tests/unit/test_docs_conftest_no_key_leak.py
  tests/unit/test_encryption_security_invariants.py
  tests/unit/test_free_threading.py
  tests/unit/test_key_generator_blake2b.py
  tests/unit/test_mmap_read_path.py
  tests/unit/test_orjson_serializer.py
  tests/unit/test_saas_observability.py
  tests/unit/test_serializer_integrity.py
  tests/unit/test_serializer_lazy_loading.py
  tests/unit/test_serializer_protocol.py
  tests/unit/test_xxhash_integrity.py
  uv.lock
Due: basedpyright, cargo-fmt, cargo-clippy

fix(tests): expert-panel findings — per-worker GIL guard, un-over-skip encryption/protocol suites (LAB-511)
  README.md
  docs/free-threading.md
  tests/conftest.py
  tests/unit/test_encryption_security_invariants.py
  tests/unit/test_serializer_protocol.py
Due: basedpyright

fix(logging): share one redaction policy between both log sinks (LAB-304)
  src/cachekit/decorators/orchestrator.py
  src/cachekit/hash_utils.py
  src/cachekit/logging.py
  tests/unit/test_error_path_key_redaction.py
Due: basedpyright

fix(logging): expert-panel remediation on the shared redaction guard (LAB-304)
  src/cachekit/backends/provider.py
  src/cachekit/decorators/orchestrator.py
  src/cachekit/hash_utils.py
  src/cachekit/l1_cache.py
  tests/unit/test_error_path_key_redaction.py
  tests/unit/test_orchestrator_error_handling.py
Due: basedpyright

docs(encryption): .secure vs .io + CACHEKIT_MASTER_KEY — fail-closed vs fail-open decision guide (LAB-749)
  .secrets.baseline
  docs/backends/cachekitio.md
  docs/features/zero-knowledge-encryption.md
  src/cachekit/config/decorator.py
Due: basedpyright

docs: apply expert-panel findings — plaintext-values precision, SWR row, fail-closed vocabulary, compliance scoping (LAB-749)
  docs/backends/cachekitio.md
  docs/features/zero-knowledge-encryption.md
Due: none

chore(deps): constrain pip>=26.2 — PYSEC-2026-3721 (doubly-encoded index URL arbitrary file write)
  pyproject.toml
  uv.lock
Due: none

docs(encryption): scope HIPAA/PCI claims to reduction-subject-to-assessment; fix MD028 (LAB-2519)
  docs/backends/cachekitio.md
  docs/features/zero-knowledge-encryption.md
Due: none

review(panel): keep SerializationError contract for non-u8 buffers, pin zero-copy in default gate (LAB-770)
  rust/src/python_bindings.rs
  src/cachekit/backends/file/backend.py
  src/cachekit/serializers/standard_serializer.py
  tests/critical/test_byte_storage_error_injection.py
  tests/performance/test_large_object_memory.py
Due: basedpyright, cargo-fmt, cargo-clippy

feat(backend): bound L1 backfill by the server's remaining freshness (LAB-557)
  .secrets.baseline
  docs/configuration.md
  src/cachekit/backends/cachekitio/backend.py
  src/cachekit/cache_handler.py
  src/cachekit/decorators/wrapper.py
  src/cachekit/l1_cache.py
  tests/unit/backends/test_cachekitio_swr_transport.py
  tests/unit/test_swr_decorator.py
Due: basedpyright

docs(encryption): correct @cache.io backend= contract; sync pip>=26.2 CI advisory comments (LAB-2519)
  .github/workflows/ci.yml
  .github/workflows/security-fast.yml
  docs/features/zero-knowledge-encryption.md
Due: none

fix(ci): make Atheris fuzz job capable of failing (LAB-1140)
  .github/workflows/security-deep.yml
  .gitignore
  scripts/fuzz-python.sh
Due: none

fix(fuzz): repair Atheris targets that never survived startup (LAB-1140)
  tests/fuzzing/fuzz_decorator_stack.py
  tests/fuzzing/fuzz_encryption_wrapper.py
  tests/fuzzing/fuzz_raw_serializer.py
Due: basedpyright

fix(fuzz): apply expert-panel findings (LAB-1140)
  .github/workflows/security-deep.yml
  scripts/fuzz-python.sh
  tests/fuzzing/corpus/.gitignore
  tests/fuzzing/fuzz_byte_storage.py
  tests/fuzzing/fuzz_decorator_stack.py
  tests/fuzzing/fuzz_encryption_wrapper.py
  tests/fuzzing/fuzz_raw_serializer.py
Due: basedpyright

LAB-1140 negative proof v2: import-error target (never merge)
  tests/fuzzing/fuzz_00_proof_import_error.py
Due: basedpyright

LAB-1140 proof scaffold v2: trim workflow to atheris job only (never merge)
  .github/workflows/security-deep.yml
Due: none

LAB-1140 negative proof v2: crashing target (never merge)
  tests/fuzzing/fuzz_00_proof_crash.py
Due: basedpyright

fix(fuzz): make the oracles survive -O; clear the pip CVE reddening CI (LAB-1140)
  pyproject.toml
  tests/fuzzing/fuzz_byte_storage.py
  tests/fuzzing/fuzz_decorator_stack.py
  tests/fuzzing/fuzz_encryption_wrapper.py
  uv.lock
Due: basedpyright

docs(fuzz): say why the oracles raise instead of asserting (LAB-1140)
  tests/fuzzing/fuzz_byte_storage.py
  tests/fuzzing/fuzz_decorator_stack.py
  tests/fuzzing/fuzz_encryption_wrapper.py
Due: basedpyright

docs(ci): sync the pip constraint comment the bump left stale (LAB-1140)
  .github/workflows/ci.yml
  .github/workflows/security-fast.yml
Due: none

fix(ci): fail loudly on attestation lookup failure; decide the codecov pair (LAB-2528)
  .github/workflows/attestation-check.yml
  .github/workflows/ci.yml
Due: none

fix(ci): apply expert-panel findings — draft/prerelease lookup, tag injection, fork-scoped codecov gate (LAB-2528)
  .github/workflows/attestation-check.yml
  .github/workflows/ci.yml
Due: none

fix(ci): close the fail-open the first fix introduced; scope the failure issue to the verify step (LAB-2528)
  .github/workflows/attestation-check.yml
  .github/workflows/ci.yml
Due: none

fix(ci): resolve the latest release server-side instead of paging for it
  .github/workflows/attestation-check.yml
Due: none

chore(deps): bump pip constraint past PYSEC-2026-3721
  pyproject.toml
  uv.lock
Due: none

docs(ci): sync the pip floor in both pip-audit rationales
  .github/workflows/ci.yml
  .github/workflows/security-fast.yml
Due: none

fix(ffi): borrow only buffers provably backed by immutable bytes; bump pip for PYSEC-2026-3721 (LAB-770)
  rust/src/python_bindings.rs
  tests/critical/test_byte_storage_error_injection.py
  uv.lock
Due: basedpyright, cargo-fmt, cargo-clippy

Path conditions:
  basedpyright: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
