Repository cachekit-io/cachekit-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: basedpyright, cargo-fmt, cargo-clippy

basedpyright:
  name: basedpyright
  entry: .venv/bin/basedpyright src/ --level error
  language: system
  pass_filenames: false

cargo-fmt:
  name: Cargo format
  entry: bash -c 'cd rust && cargo fmt --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo clippy
  entry: bash -c 'cd rust && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

fix: reject non-finite (NaN/inf) TTL to prevent immortal cache entries (#174)
  .secrets.baseline
  src/cachekit/config/decorator.py
  src/cachekit/l1_cache.py
  src/cachekit/object_cache.py
  tests/unit/config/test_decorator_config.py
  tests/unit/test_l1_memory_bounds.py
  tests/unit/test_object_cache.py
Due: basedpyright

fix: handle pandas nullable/extension dtypes in no-pyarrow DataFrame fallback
  src/cachekit/serializers/auto_serializer.py
  tests/unit/test_auto_serializer_new_types.py
Due: basedpyright

fix: apply nullable-dtype handling to Series fallback; share helpers
  src/cachekit/serializers/auto_serializer.py
  tests/unit/test_auto_serializer_new_types.py
Due: basedpyright

fix: handle pandas nullable/extension dtypes in no-pyarrow DataFrame fallback (#176)
  src/cachekit/serializers/auto_serializer.py
  tests/unit/test_auto_serializer_new_types.py
Due: basedpyright

fix: evict poisoned L2 entry on corruption at the read API
  .secrets.baseline
  src/cachekit/cache_handler.py
  tests/unit/test_l2_decrypt_observability.py
Due: basedpyright

fix: evict poisoned L2 entry on corruption at the read API (#177)
  .secrets.baseline
  src/cachekit/cache_handler.py
  tests/unit/test_l2_decrypt_observability.py
Due: basedpyright

chore: skip-tree windows FFI family in cargo-deny bans
  deny.toml
Due: none

test: fix latent doctests + competitive suite, declare competitor test deps
  pyproject.toml
  src/cachekit/backends/base.py
  src/cachekit/reliability/metrics_collection.py
  tests/competitive/test_head_to_head.py
  uv.lock
Due: basedpyright

test: fix latent doctests + competitive suite, declare competitor test deps (#178)
  pyproject.toml
  src/cachekit/backends/base.py
  src/cachekit/reliability/metrics_collection.py
  tests/competitive/test_head_to_head.py
  uv.lock
Due: basedpyright

security: send lock_id via X-CacheKit-Lock-Id header, not query string (#131)
  SECURITY.md
  src/cachekit/backends/cachekitio/backend.py
  tests/unit/backends/test_cachekitio_lock_protocol.py
Due: basedpyright

security: send lock_id via X-CacheKit-Lock-Id header, not query string (#131) (#179)
  SECURITY.md
  src/cachekit/backends/cachekitio/backend.py
  tests/unit/backends/test_cachekitio_lock_protocol.py
Due: basedpyright

fix(cachekitio): surface HTTP 413 as a clear permanent "value too large" error
  src/cachekit/backends/cachekitio/error_handler.py
  tests/integration/saas/test_sdk_data_handling.py
  tests/unit/backends/test_cachekitio_error_handler.py
Due: basedpyright

fix(deps): bump pyo3 to 0.29 to clear RUSTSEC-2026-0176 and -0177
  Cargo.lock
  Cargo.toml
  rust/src/python_bindings.rs
Due: cargo-fmt, cargo-clippy

fix(deps): bump pyo3 to 0.29 to clear RUSTSEC-2026-0176 and -0177 (#183)
  Cargo.lock
  Cargo.toml
  rust/src/python_bindings.rs
Due: cargo-fmt, cargo-clippy

test: describe large-value tests by SDK-observable behavior (remove backend internals)
  tests/integration/saas/test_sdk_data_handling.py
Due: basedpyright

fix(cachekitio): surface HTTP 413 as a clear permanent "value too large" error (#182)
  src/cachekit/backends/cachekitio/error_handler.py
  tests/integration/saas/test_sdk_data_handling.py
  tests/unit/backends/test_cachekitio_error_handler.py
Due: basedpyright

perf: unwrap returns a zero-copy memoryview instead of copying the payload (#162)
  src/cachekit/serializers/arrow_serializer.py
  src/cachekit/serializers/auto_serializer.py
  src/cachekit/serializers/base.py
  src/cachekit/serializers/encryption_wrapper.py
  src/cachekit/serializers/orjson_serializer.py
  src/cachekit/serializers/standard_serializer.py
  src/cachekit/serializers/wrapper.py
  tests/unit/test_serialization_wrapper.py
Due: basedpyright

perf: unwrap returns a zero-copy memoryview instead of copying the payload (#162) (#184)
  src/cachekit/serializers/arrow_serializer.py
  src/cachekit/serializers/auto_serializer.py
  src/cachekit/serializers/base.py
  src/cachekit/serializers/encryption_wrapper.py
  src/cachekit/serializers/orjson_serializer.py
  src/cachekit/serializers/standard_serializer.py
  src/cachekit/serializers/wrapper.py
  tests/unit/test_serialization_wrapper.py
Due: basedpyright

feat: zero-copy mmap read path for large plaintext Arrow on the File backend (#171)
  .secrets.baseline
  src/cachekit/backends/base.py
  src/cachekit/backends/file/backend.py
  src/cachekit/cache_handler.py
  src/cachekit/config/settings.py
  src/cachekit/l1_cache.py
  src/cachekit/serializers/arrow_serializer.py
  tests/performance/test_file_backend_perf.py
  tests/unit/backends/test_file_backend.py
  tests/unit/test_l1_memory_bounds.py
  tests/unit/test_mmap_read_path.py
Due: basedpyright

test: cover mmap read-path branches; drop dead async mmap branch
  src/cachekit/backends/file/backend.py
  src/cachekit/cache_handler.py
  tests/unit/backends/test_file_backend.py
  tests/unit/test_mmap_read_path.py
Due: basedpyright

ci: gate memory invariants (mmap RSS + large-object allocations) on every run
  .github/workflows/ci.yml
Due: none

ci: pass REDIS_URL to the memory-invariant step
  .github/workflows/ci.yml
Due: none

feat: zero-copy mmap read path for large plaintext Arrow on the File backend (#171) (#187)
  .github/workflows/ci.yml
  .secrets.baseline
  src/cachekit/backends/base.py
  src/cachekit/backends/file/backend.py
  src/cachekit/cache_handler.py
  src/cachekit/config/settings.py
  src/cachekit/l1_cache.py
  src/cachekit/serializers/arrow_serializer.py
  tests/performance/test_file_backend_perf.py
  tests/unit/backends/test_file_backend.py
  tests/unit/test_l1_memory_bounds.py
  tests/unit/test_mmap_read_path.py
Due: basedpyright

fix: checksum-protect numpy serialization without compression overhead
  src/cachekit/serializers/auto_serializer.py
  tests/performance/test_serializer_benchmarks.py
  tests/unit/test_auto_serializer_numpy_integrity.py
Due: basedpyright

test: correct stale ByteStorage/LZ4 docstrings + assert numpy shape preservation
  tests/unit/test_auto_serializer_numpy_integrity.py
Due: basedpyright

fix: checksum-protect numpy serialization without compression overhead (#189)
  src/cachekit/serializers/auto_serializer.py
  tests/performance/test_serializer_benchmarks.py
  tests/unit/test_auto_serializer_numpy_integrity.py
Due: basedpyright

fix: return writable numpy/Series reads and surface DataFrame/Series corruption clearly
  src/cachekit/serializers/auto_serializer.py
  tests/unit/test_auto_serializer_mutation_and_corruption.py
Due: basedpyright

fix: return writable numpy/Series reads and surface DataFrame/Series corruption clearly (#191)
  src/cachekit/serializers/auto_serializer.py
  tests/unit/test_auto_serializer_mutation_and_corruption.py
Due: basedpyright

fix: canonicalize the pythonic serializer alias to auto
  .secrets.baseline
  src/cachekit/cache_handler.py
  tests/unit/test_serializer_alias_canonicalization.py
Due: basedpyright

fix: canonicalize the pythonic serializer alias to auto (#192)
  .secrets.baseline
  src/cachekit/cache_handler.py
  tests/unit/test_serializer_alias_canonicalization.py
Due: basedpyright

chore: adopt checkmake + extract procedural Makefile targets to scripts/
  .pre-commit-config.yaml
  Makefile
  checkmake.ini
  scripts/_common.sh
  scripts/build-multiarch-linux.sh
  scripts/fuzz-python.sh
  scripts/install-security-tools.sh
  scripts/security-report.sh
  scripts/version-check.sh
Due: none

chore: adopt checkmake + extract procedural Makefile targets to scripts/ (#193)
  .pre-commit-config.yaml
  Makefile
  checkmake.ini
  scripts/_common.sh
  scripts/build-multiarch-linux.sh
  scripts/fuzz-python.sh
  scripts/install-security-tools.sh
  scripts/security-report.sh
  scripts/version-check.sh
Due: none

security: bump msgpack floor to 1.2.1 (GHSA-6v7p-g79w-8964)
  pyproject.toml
  uv.lock
Due: none

security: bump msgpack floor to 1.2.1 (GHSA-6v7p-g79w-8964) (#197)
  pyproject.toml
  uv.lock
Due: none

test: cover orjson optional-dependency branches
  src/cachekit/serializers/orjson_serializer.py
  tests/unit/test_serializer_lazy_loading.py
Due: basedpyright

feat: make orjson an optional dependency (cachekit[json])
  DEVELOPMENT.md
  README.md
  docs/api-reference.md
  docs/getting-started.md
  docs/serializers/README.md
  docs/serializers/orjson.md
  pyproject.toml
  src/cachekit/serializers/__init__.py
  src/cachekit/serializers/orjson_serializer.py
  tests/unit/test_orjson_serializer.py
  tests/unit/test_serializer_lazy_loading.py
  uv.lock
Due: basedpyright

feat: make orjson an optional dependency (cachekit[json]) (#196)
  DEVELOPMENT.md
  README.md
  docs/api-reference.md
  docs/getting-started.md
  docs/serializers/README.md
  docs/serializers/orjson.md
  pyproject.toml
  src/cachekit/serializers/__init__.py
  src/cachekit/serializers/orjson_serializer.py
  tests/unit/test_orjson_serializer.py
  tests/unit/test_serializer_lazy_loading.py
  uv.lock
Due: basedpyright

chore: keep release-please pre-1.0 (breaking changes bump minor, not major)
  release-please-config.json
Due: none

chore: keep release-please pre-1.0 (breaking changes bump minor, not major) (#199)
  release-please-config.json
Due: none

fix: re-read settings when CACHEKIT_MASTER_KEY appears + correct missing-key env var name
  src/cachekit/cache_handler.py
  src/cachekit/config/singleton.py
  src/cachekit/serializers/encryption_wrapper.py
  tests/unit/test_encryption_config_resolution.py
Due: basedpyright

Path conditions:
  basedpyright: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
