Repository cachekit-io/cachekit-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: basedpyright, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

# Pre-commit hooks for cachekit
# Install: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python formatting and linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff
        args: [--fix]
        name: Ruff lint
      - id: ruff-format
        name: Ruff format

  # Rust formatting and linting
  - repo: local
    hooks:
      # Python type checking with basedpyright
      # Uses venv directly to avoid uv run modifying uv.lock
      - id: basedpyright
        name: basedpyright
        entry: .venv/bin/basedpyright src/ --level error
        language: system
        types: [python]
        pass_filenames: false

      - id: cargo-fmt
        name: Cargo format
        entry: bash -c 'cd rust && cargo fmt --check'
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: Cargo clippy
        entry: bash -c 'cd rust && cargo clippy -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict

  # Secret scanning - prevent credential leaks
  # Uses Yelp's detect-secrets with high entropy detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args:
          - --baseline
          - .secrets.baseline
        exclude: |
          (?x)^(
            .*\.lock$|
            .*\.sum$|
            tests/fixtures/.*|
            docs/.*\.md$
          )$

fix(file): loop os.read over short reads on every header/payload read (LAB-770)
  src/cachekit/backends/file/backend.py
  tests/unit/backends/test_file_backend.py
Due: basedpyright

review(panel): replace the raw borrow with a safe slice; guard get_buffer's short header (LAB-770)
  rust/src/python_bindings.rs
  src/cachekit/backends/file/backend.py
  src/cachekit/serializers/standard_serializer.py
  tests/critical/test_byte_storage_error_injection.py
Due: basedpyright, cargo-fmt, cargo-clippy

fix(file): write every byte or fail; evict a payload that shrank under read (LAB-2682)
  docs/backends/file.md
  src/cachekit/backends/file/backend.py
  tests/unit/backends/test_file_backend.py
Due: basedpyright

review(panel): skip flock release after close; single rationale anchor; doc wording (LAB-2682)
  docs/backends/file.md
  src/cachekit/backends/file/backend.py
  tests/unit/backends/test_file_backend.py
Due: basedpyright

perf(file): eliminate two full-payload copies on the non-mmap read path (LAB-770) (#267)
  rust/src/python_bindings.rs
  src/cachekit/backends/file/backend.py
  src/cachekit/serializers/standard_serializer.py
  tests/critical/test_byte_storage_error_injection.py
  tests/performance/test_large_object_memory.py
  tests/unit/backends/test_file_backend.py
  uv.lock
Due: basedpyright, cargo-fmt, cargo-clippy

refactor(config): delete dead _resolve_backend (LAB-2521)
  .secrets.baseline
  src/cachekit/config/decorator.py
  tests/unit/config/test_backend_resolution.py
Due: basedpyright

docs: index all 9 feature guides on every surface + drift guard (LAB-1013) (#260)
  README.md
  docs/README.md
  llms.txt
  tests/unit/test_feature_guide_index.py
Due: basedpyright

Remove inert CODEOWNERS file and document review routing (LAB-2539)
  .github/CODEOWNERS
  CONTRIBUTING.md
Due: none

docs(security): record the bounded LZ4 path and the unbounded Arrow one (LAB-2504)
  SECURITY.md
Due: none

fix: address coderabbit review — drop misleading LAB-1151 link
  CONTRIBUTING.md
Due: none

fix(serializers): bound untrusted msgpack decode depth and header allocation (LAB-2503)
  README.md
  src/cachekit/interop.py
  src/cachekit/serializers/auto_serializer.py
  src/cachekit/serializers/base.py
  src/cachekit/serializers/standard_serializer.py
  tests/unit/protocol/fixtures/decode-bounds.json
  tests/unit/protocol/test_decode_bounds.py
Due: basedpyright

docs(security): fix a false Arrow mitigation and correct the exposure (LAB-2504)
  SECURITY.md
Due: none

fix(serializers): apply LAB-2503 panel findings to the decode bound
  README.md
  src/cachekit/serializers/auto_serializer.py
  src/cachekit/serializers/base.py
  tests/unit/protocol/fixtures/decode-bounds.json
  tests/unit/protocol/test_decode_bounds.py
Due: basedpyright

chore: remove inert CODEOWNERS, document advisory review routing (LAB-2539) (#274)
  .github/CODEOWNERS
  CONTRIBUTING.md
Due: none

docs: link key rotation runbook (LAB-687)
  README.md
Due: none

perf(serializers): zero-copy Rust header walk for the msgpack decode bound (LAB-2503)
  rust/src/lib.rs
  rust/src/python_bindings.rs
  src/cachekit/serializers/auto_serializer.py
  src/cachekit/serializers/base.py
  tests/unit/protocol/test_decode_bounds.py
Due: basedpyright, cargo-fmt, cargo-clippy

docs: clarify key rotation rollout (LAB-687)
  README.md
  docs/features/zero-knowledge-encryption.md
Due: none

fix(serializers): apply LAB-2503 panel round 2 to the Rust decode walk
  rust/src/lib.rs
  rust/src/msgpack_bounds.rs
  rust/src/python_bindings.rs
  src/cachekit/serializers/auto_serializer.py
  src/cachekit/serializers/base.py
  src/cachekit/serializers/standard_serializer.py
  tests/unit/protocol/test_decode_bounds.py
  tests/unit/test_auto_serializer_new_types.py
Due: basedpyright, cargo-fmt, cargo-clippy

docs: scope key-selection guarantee to CK-framed entries; mark key examples as hex placeholders (LAB-687)
  README.md
  docs/features/zero-knowledge-encryption.md
Due: none

chore(test): drop fixed --basetemp from addopts (LAB-2814)
  pyproject.toml
Due: none

fix(logging): scope the CWE-532 guarantee and guard it with an architecture test (LAB-304)
  SECURITY.md
  src/cachekit/decorators/orchestrator.py
  src/cachekit/hash_utils.py
  tests/unit/test_log_redaction_architecture.py
Due: basedpyright

fix(cachekitio): percent-encode cache key in request path (LAB-2846)
  SECURITY.md
  src/cachekit/backends/cachekitio/backend.py
  tests/unit/backends/test_cachekitio_path_encoding.py
Due: basedpyright

fix(logging): sanitise exception text on error sinks; extend logger detector (LAB-304)
  src/cachekit/backends/memcached/error_handler.py
  src/cachekit/decorators/orchestrator.py
  src/cachekit/hash_utils.py
  src/cachekit/l1_cache.py
  src/cachekit/logging.py
  tests/unit/test_error_path_key_redaction.py
  tests/unit/test_log_redaction_architecture.py
  tests/unit/test_structured_logging.py
Due: basedpyright

fix(logging): close redis/http BackendError.message key leak (LAB-304)
  src/cachekit/backends/cachekitio/error_handler.py
  src/cachekit/backends/redis/backend.py
  src/cachekit/backends/redis/error_handler.py
  src/cachekit/hash_utils.py
  tests/unit/test_error_path_key_redaction.py
Due: basedpyright

fix(logging): redact_error_for_log renders BackendError structurally, never its message (LAB-304)
  src/cachekit/hash_utils.py
  tests/unit/test_error_path_key_redaction.py
Due: basedpyright

fix(cachekitio): encode all-dot cache keys to close residual traversal (LAB-2846)
  SECURITY.md
  src/cachekit/backends/cachekitio/backend.py
  tests/unit/backends/test_cachekitio_path_encoding.py
Due: basedpyright

fix(cachekitio): percent-encode cache key in request path (LAB-2846) (#279)
  SECURITY.md
  src/cachekit/backends/cachekitio/backend.py
  tests/unit/backends/test_cachekitio_path_encoding.py
Due: basedpyright

fix: address free-threading review feedback (LAB-511)
  docs/free-threading.md
  src/cachekit/reliability/metrics_collection.py
  tests/critical/test_production_data_patterns.py
  tests/unit/test_key_generator_blake2b.py
  tests/unit/test_metrics_collection.py
  tests/unit/test_saas_observability.py
  tests/unit/test_serializer_integrity.py
  tests/unit/test_xxhash_integrity.py
Due: basedpyright

fix: address coderabbit review — free-threading doc install command unambiguous (LAB-511)
  docs/free-threading.md
Due: none

fix: address coderabbit review — flush guard clause, in-flight test cleanup (LAB-511)
  src/cachekit/reliability/metrics_collection.py
  tests/unit/test_metrics_collection.py
Due: basedpyright

docs: correct Blake3→xxHash3-64 integrity claims and pickle/orjson docstrings (LAB-3016, LAB-3017)
  SECURITY.md
  rust/TEST_EXPANSION_SUMMARY.md
  rust/supply-chain/config.toml
  src/cachekit/serializers/__init__.py
  src/cachekit/serializers/orjson_serializer.py
  tests/competitive/test_cachetools_comparison.py
Due: basedpyright

fix: address coderabbit review — qualify checksum claim as tested
  rust/TEST_EXPANSION_SUMMARY.md
Due: none

docs: correct false Blake3-checksum, pickle and orjson claims (LAB-3016, LAB-3017) (#280)
  SECURITY.md
  rust/TEST_EXPANSION_SUMMARY.md
  rust/supply-chain/config.toml
  src/cachekit/serializers/__init__.py
  src/cachekit/serializers/orjson_serializer.py
  tests/competitive/test_cachetools_comparison.py
Due: basedpyright

docs: retire never-run cargo-vet config and its documentation claims (LAB-3029)
  DEVELOPMENT.md
  README.md
  SECURITY.md
  rust/supply-chain/audits.toml
  rust/supply-chain/config.toml
  rust/supply-chain/imports.lock
Due: none

fix: address coderabbit review — in-flight flush test cleans up on readiness timeout (LAB-511)
  tests/unit/test_metrics_collection.py
Due: basedpyright

feat(concurrency): free-threaded CPython support — memory-ordering fixes, gil_used=false, CI lane (LAB-511) (#265)
  .github/workflows/ci.yml
  README.md
  docs/README.md
  docs/free-threading.md
  pyproject.toml
  rust/src/lib.rs
  src/cachekit/decorators/session.py
  src/cachekit/reliability/metrics_collection.py
  tests/conftest.py
  tests/critical/test_cache_serializer_compression.py
  tests/critical/test_cache_serializer_patterns.py
  tests/critical/test_encryption_integration.py
  tests/critical/test_production_data_patterns.py
  tests/unit/test_arrow_serializer.py
  tests/unit/test_auto_serializer_mutation_and_corruption.py
  tests/unit/test_auto_serializer_new_types.py
  tests/unit/test_auto_serializer_numpy_integrity.py
  tests/unit/test_docs_conftest_no_key_leak.py
  tests/unit/test_encryption_security_invariants.py
  tests/unit/test_free_threading.py
  tests/unit/test_key_generator_blake2b.py
  tests/unit/test_metrics_collection.py
  tests/unit/test_mmap_read_path.py
  tests/unit/test_orjson_serializer.py
  tests/unit/test_saas_observability.py
  tests/unit/test_serializer_integrity.py
  tests/unit/test_serializer_lazy_loading.py
  tests/unit/test_serializer_protocol.py
  tests/unit/test_xxhash_integrity.py
  uv.lock
Due: basedpyright, cargo-fmt, cargo-clippy

docs: retire never-run cargo-vet config and its documentation claims (LAB-3029) (#281)
  DEVELOPMENT.md
  README.md
  SECURITY.md
  rust/supply-chain/audits.toml
  rust/supply-chain/config.toml
  rust/supply-chain/imports.lock
Due: none

LAB-3035: correct stale 'blocked' claims in gil_benchmark.py
  tests/performance/gil_benchmark.py
Due: basedpyright

LAB-3037: record measured free-threaded performance in docs/free-threading.md
  README.md
  docs/free-threading.md
Due: none

LAB-3035: correct stale 'blocked' claims in gil_benchmark.py (#283)
  tests/performance/gil_benchmark.py
Due: basedpyright
