Repository cachekit-io/cachekit-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: basedpyright, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

# Pre-commit hooks for cachekit
# Install: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python formatting and linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff
        args: [--fix]
        name: Ruff lint
      - id: ruff-format
        name: Ruff format

  # Rust formatting and linting
  - repo: local
    hooks:
      # Python type checking with basedpyright
      # Uses venv directly to avoid uv run modifying uv.lock
      - id: basedpyright
        name: basedpyright
        entry: .venv/bin/basedpyright src/ --level error
        language: system
        types: [python]
        pass_filenames: false

      - id: cargo-fmt
        name: Cargo format
        entry: bash -c 'cd rust && cargo fmt --check'
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: Cargo clippy
        entry: bash -c 'cd rust && cargo clippy -- -D warnings'
        language: system
        files: \.rs$
        pass_filenames: false

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict

  # Secret scanning - prevent credential leaks
  # Uses Yelp's detect-secrets with high entropy detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args:
          - --baseline
          - .secrets.baseline
        exclude: |
          (?x)^(
            .*\.lock$|
            .*\.sum$|
            tests/fixtures/.*|
            docs/.*\.md$
          )$

fix: address coderabbit review — CPU topology wording + resolvable ref
  docs/free-threading.md
Due: none

docs: record measured free-threaded performance in docs/free-threading.md (LAB-3037) (#284)
  README.md
  docs/free-threading.md
Due: none

fix: address coderabbit review — call it serializer throughput, not cache
  docs/free-threading.md
Due: none

fix(swr): read SWR capability from the resolved backend; handler pads legacy 2-tuple (LAB-557)
  .secrets.baseline
  docs/configuration.md
  src/cachekit/cache_handler.py
  src/cachekit/decorators/wrapper.py
  tests/unit/backends/test_cachekitio_swr_transport.py
  tests/unit/test_swr_decorator.py
Due: basedpyright

refactor(swr): single freshness-tuple normaliser, snapshot named as one, docs name the decoration-time rule (LAB-557)
  .secrets.baseline
  docs/configuration.md
  src/cachekit/cache_handler.py
  src/cachekit/decorators/wrapper.py
  tests/unit/backends/test_cachekitio_swr_transport.py
  tests/unit/test_swr_decorator.py
Due: basedpyright

docs(encryption): scope compliance checkmarks to fail-closed path; document cleartext cache key (LAB-749)
  docs/features/zero-knowledge-encryption.md
Due: none

fix(serializers): apply LAB-2503 round-3 review to the decode bound
  rust/src/msgpack_bounds.rs
  src/cachekit/serializers/auto_serializer.py
  src/cachekit/serializers/base.py
  tests/unit/protocol/fixtures/decode-bounds.json
  tests/unit/protocol/test_decode_bounds.py
  tests/unit/test_auto_serializer_mutation_and_corruption.py
  tests/unit/test_auto_serializer_new_types.py
  tests/unit/test_auto_serializer_numpy_integrity.py
Due: basedpyright, cargo-fmt, cargo-clippy

fix(serializers): gate forged columnar documents by shape before pandas sees them (LAB-2503)
  src/cachekit/serializers/auto_serializer.py
  tests/unit/test_auto_serializer_mutation_and_corruption.py
Due: basedpyright

fix(serializers): snapshot mutable exporters before the decode walk; pin the vector link (LAB-2503)
  README.md
  src/cachekit/serializers/base.py
  tests/unit/protocol/test_decode_bounds.py
Due: basedpyright

fix(serializers): drop the unreachable NumPy fallback on the plain decode path (LAB-2503)
  src/cachekit/serializers/auto_serializer.py
  tests/unit/protocol/test_decode_bounds.py
Due: basedpyright

test(swr): annotate the read-method fakes in the transport tests (LAB-557)
  tests/unit/backends/test_cachekitio_swr_transport.py
Due: basedpyright

fix(serializers): refuse unknown column type markers on the columnar decode routes (LAB-2503)
  src/cachekit/serializers/auto_serializer.py
  tests/unit/test_auto_serializer_mutation_and_corruption.py
Due: basedpyright

fix(serializers): normalise memoryview inputs before the decode walk; refuse truncated NUMPY_RAW metadata (LAB-2503)
  src/cachekit/serializers/auto_serializer.py
  src/cachekit/serializers/base.py
  tests/unit/protocol/test_decode_bounds.py
  tests/unit/test_auto_serializer_mutation_and_corruption.py
Due: basedpyright

docs(cachekitio): qualify HIPAA/PCI scope claim; refresh detect-secrets baseline line numbers (LAB-749)
  .secrets.baseline
  docs/backends/cachekitio.md
Due: none

fix(file): write every byte or fail; evict a payload that shrank under read (LAB-2682) (#272)
  docs/backends/file.md
  src/cachekit/backends/file/backend.py
  tests/unit/backends/test_file_backend.py
Due: basedpyright

feat(backend): bound L1 backfill by the server's remaining freshness (LAB-557) (#268)
  .secrets.baseline
  docs/configuration.md
  src/cachekit/backends/cachekitio/backend.py
  src/cachekit/cache_handler.py
  src/cachekit/decorators/wrapper.py
  src/cachekit/l1_cache.py
  tests/unit/backends/test_cachekitio_swr_transport.py
  tests/unit/test_swr_decorator.py
Due: basedpyright

fix(file): guard eviction unlink against a concurrent rename (LAB-2685)
  docs/backends/file.md
  src/cachekit/backends/file/backend.py
  tests/unit/backends/test_file_backend.py
Due: basedpyright

fix: address coderabbit review - docs no longer overclaim the inode-guard closes the race
  docs/backends/file.md
Due: none

fix(logging): render exceptions structurally at every log sink; guard it by AST (LAB-304)
  .secrets.baseline
  SECURITY.md
  src/cachekit/backends/cachekitio/backend.py
  src/cachekit/backends/errors.py
  src/cachekit/backends/redis/provider.py
  src/cachekit/cache_handler.py
  src/cachekit/decorators/wrapper.py
  src/cachekit/hiredis_compat.py
  src/cachekit/l1_cache.py
  src/cachekit/logging.py
  src/cachekit/reliability/async_metrics.py
  src/cachekit/reliability/metrics_collection.py
  src/cachekit/serializers/__init__.py
  src/cachekit/serializers/auto_serializer.py
  tests/unit/test_error_path_key_redaction.py
  tests/unit/test_l2_decrypt_observability.py
  tests/unit/test_log_redaction_architecture.py
Due: basedpyright

fix(logging): guard directly-imported logging functions; cover the async L2 read sinks (LAB-304)
  SECURITY.md
  tests/unit/test_error_path_key_redaction.py
  tests/unit/test_log_redaction_architecture.py
Due: basedpyright

fix(ci): bump codecov-action to v7.0.0 so CLI signature verification can pass
  .github/workflows/ci.yml
Due: none

fix(ci): make the junit upload enforce the CLI signature too; tighten the pin note
  .github/workflows/ci.yml
Due: none

docs(ci): record the fork-PR signature residual; scope the no-reports rationale
  .github/workflows/ci.yml
Due: none

test(logging): drive the L2 read sinks and wrapper error paths for real (LAB-304)
  tests/unit/test_error_path_key_redaction.py
  tests/unit/test_orchestrator_error_handling.py
Due: basedpyright

test(logging): pin the L1 sink and harden the redaction helpers — panel remediation (LAB-304)
  tests/unit/test_error_path_key_redaction.py
  tests/unit/test_orchestrator_error_handling.py
Due: basedpyright

fix: address coderabbit review — propagate log aliases through nested receivers
  tests/unit/test_log_redaction_architecture.py
Due: basedpyright

docs(ci): record why continue-on-error on the junit upload is visibility-only
  .github/workflows/ci.yml
Due: none

fix(serializers): bound untrusted msgpack decode depth and header allocation (LAB-2503) (#276)
  README.md
  rust/src/lib.rs
  rust/src/msgpack_bounds.rs
  rust/src/python_bindings.rs
  src/cachekit/interop.py
  src/cachekit/serializers/auto_serializer.py
  src/cachekit/serializers/base.py
  src/cachekit/serializers/standard_serializer.py
  tests/unit/protocol/fixtures/decode-bounds.json
  tests/unit/protocol/test_decode_bounds.py
  tests/unit/test_auto_serializer_mutation_and_corruption.py
  tests/unit/test_auto_serializer_new_types.py
  tests/unit/test_auto_serializer_numpy_integrity.py
Due: basedpyright, cargo-fmt, cargo-clippy

fix(file): guard eviction unlink against a concurrent rename (LAB-2685) (#285)
  docs/backends/file.md
  src/cachekit/backends/file/backend.py
  tests/unit/backends/test_file_backend.py
Due: basedpyright

test(protocol): fix recursive oracle in nesting-ceiling test (LAB-3480)
  tests/unit/protocol/test_decode_bounds.py
Due: basedpyright

fix(serializers): type ByteStorage.retrieve failures and collapse duplicated columnar decode (LAB-2736)
  rust/src/lib.rs
  rust/src/python_bindings.rs
  src/cachekit/serializers/auto_serializer.py
  tests/unit/test_auto_serializer_mutation_and_corruption.py
  tests/unit/test_auto_serializer_new_types.py
Due: basedpyright, cargo-fmt, cargo-clippy

test(protocol): fix recursive oracle in nesting-ceiling test (LAB-3480) (#286)
  tests/unit/protocol/test_decode_bounds.py
Due: basedpyright

ci: move every workflow off the self-hosted ARC pool to ubuntu-latest (LAB-3500)
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/fuzz-smoke.yml
  .github/workflows/security-deep.yml
  .github/workflows/security-fast.yml
  .github/workflows/security-medium.yml
Due: none

ci: allow-list runner guard, pin uv, recalibrate GIL timing floor (LAB-3500)
  .github/actionlint.yaml
  .github/workflows/ci.yml
  .github/workflows/fuzz-smoke.yml
  .github/workflows/security-deep.yml
  .github/workflows/security-fast.yml
  .github/workflows/security-medium.yml
  tests/critical/test_byte_storage_gil.py
Due: basedpyright

fix(serializers): bound forged-entry error echoes; retire columnar dead code (LAB-3131)
  .secrets.baseline
  src/cachekit/cache_handler.py
  src/cachekit/decorators/wrapper.py
  src/cachekit/serializers/auto_serializer.py
  src/cachekit/serializers/base.py
  tests/unit/test_auto_serializer_mutation_and_corruption.py
  tests/unit/test_auto_serializer_new_types.py
Due: basedpyright

review(serializers): apply expert-panel findings (LAB-3131)
  src/cachekit/serializers/auto_serializer.py
  src/cachekit/serializers/base.py
  tests/unit/test_auto_serializer_mutation_and_corruption.py
Due: basedpyright

ci: exact-label runner allow-list, refuse unreadable runner forms (LAB-3500)
  .github/workflows/ci.yml
Due: none

ci: parse workflow structure in runner-drift-guard, gate os: on matrix (LAB-3500)
  .github/workflows/ci.yml
Due: none

ci: fail closed on YAML anchor/alias/merge keys in runner-drift-guard (LAB-3500)
  .github/workflows/ci.yml
Due: none

ci: keep runner-drift-guard comments to what a public repo should say (LAB-3500)
  .github/workflows/ci.yml
Due: none
