Repository cachekit-io/cachekit-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: basedpyright, cargo-fmt, cargo-clippy

basedpyright:
  name: basedpyright
  entry: .venv/bin/basedpyright src/ --level error
  language: system
  pass_filenames: false

cargo-fmt:
  name: Cargo format
  entry: bash -c 'cd rust && cargo fmt --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo clippy
  entry: bash -c 'cd rust && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

test(envelope): apply expert-panel findings
  DEVELOPMENT.md
  tests/critical/test_byte_storage_error_injection.py
  tests/unit/protocol/test_envelope_wire_vectors.py
Due: basedpyright

feat(envelope): pick up cachekit-core 0.4.0 bin envelopes (LAB-900) (#249)
  .secrets.baseline
  Cargo.lock
  DEVELOPMENT.md
  rust/Cargo.toml
  tests/critical/test_byte_storage_error_injection.py
  tests/unit/protocol/fixtures/wire-format.json
  tests/unit/protocol/test_envelope_wire_vectors.py
Due: basedpyright

docs(locking): CachekitIO is lockable; async-only limitation and 30s/5s timing documented (LAB-1080)
  docs/backends/cachekitio.md
  docs/backends/memcached.md
  docs/features/distributed-locking.md
  src/cachekit/backends/base.py
Due: basedpyright

docs(locking): apply expert-panel findings — degrade-to-no-lock edge, fictional metrics removed, dedup (LAB-1080)
  docs/backends/cachekitio.md
  docs/features/distributed-locking.md
Due: none

fix(fuzz): bump fuzz workspace to core 0.4.0, run all 14 targets, fail loudly (LAB-1136)
  .github/workflows/fuzz-smoke.yml
  .github/workflows/security-deep.yml
  rust/fuzz/Cargo.toml
  rust/fuzz/fuzz_targets/byte_storage_checksum_collision.rs
  rust/fuzz/fuzz_targets/byte_storage_format_injection.rs
  rust/fuzz/fuzz_targets/byte_storage_integer_overflow.rs
  rust/fuzz/fuzz_targets/integration_layered_security.rs
Due: cargo-fmt, cargo-clippy

fix(fuzz): apply expert-panel findings — kill residual silent-pass modes (LAB-1136)
  .github/workflows/fuzz-smoke.yml
  .github/workflows/security-deep.yml
  rust/fuzz/.gitignore
  rust/fuzz/Cargo.lock
  rust/fuzz/Cargo.toml
  rust/fuzz/fuzz_targets/byte_storage_checksum_collision.rs
  rust/fuzz/fuzz_targets/byte_storage_integer_overflow.rs
Due: cargo-fmt, cargo-clippy

docs(locking): distributed-locking — CachekitIO is lockable; async-only limitation and 30s/5s timing (LAB-1080) (#250)
  docs/backends/cachekitio.md
  docs/backends/memcached.md
  docs/features/distributed-locking.md
  src/cachekit/backends/base.py
Due: basedpyright

fix(fuzz): close the residual false-green paths this PR left behind (LAB-1136)
  .github/workflows/fuzz-smoke.yml
  .github/workflows/security-deep.yml
  rust/fuzz/Makefile
  rust/fuzz/fuzz_targets/byte_storage_checksum_collision.rs
Due: cargo-fmt, cargo-clippy

fix(fuzz): fuzz the codec that ships — core 0.4.0, all 14 targets, fail loudly (LAB-1136) (#251)
  .github/workflows/fuzz-smoke.yml
  .github/workflows/security-deep.yml
  rust/fuzz/.gitignore
  rust/fuzz/Cargo.lock
  rust/fuzz/Cargo.toml
  rust/fuzz/Makefile
  rust/fuzz/fuzz_targets/byte_storage_checksum_collision.rs
  rust/fuzz/fuzz_targets/byte_storage_format_injection.rs
  rust/fuzz/fuzz_targets/byte_storage_integer_overflow.rs
  rust/fuzz/fuzz_targets/integration_layered_security.rs
Due: cargo-fmt, cargo-clippy

LAB-1399: Update PyPI description to backend-agnostic + zero-knowledge positioning
  README.md
  pyproject.toml
Due: none

docs: strengthen PyPI/README one-liner with verified capabilities (LAB-1399)
  README.md
  pyproject.toml
Due: none

docs: reposition PyPI description to backend-agnostic + zero-knowledge (LAB-1399) (#253)
  README.md
  pyproject.toml
Due: none

docs: drop 'SaaS validates func component' claims (server is security-only now) (#213)
  docs/data-flow-architecture.md
  src/cachekit/key_generator.py
Due: basedpyright

docs: align llms.txt, DEVELOPMENT.md, __init__ docstring to merged PR #253 positioning (LAB-1431)
  DEVELOPMENT.md
  llms.txt
  src/cachekit/__init__.py
Due: basedpyright

docs: maturity posture is closed beta — replace Alpha warning and drop 'production-ready' (LAB-1428)
  DEVELOPMENT.md
  README.md
  docs/comparison.md
  docs/features/zero-knowledge-encryption.md
  docs/getting-started.md
  src/cachekit/__init__.py
Due: basedpyright

docs: standardise the managed backend name on CachekitIO (LAB-1431)
  DEVELOPMENT.md
  llms.txt
  pyproject.toml
Due: none

docs: address CodeRabbit round + defer #254-overlapping hunks (LAB-1428)
  DEVELOPMENT.md
  docs/api-reference.md
  docs/backends/README.md
  docs/backends/cachekitio.md
  docs/configuration.md
  docs/features/zero-knowledge-encryption.md
  pyproject.toml
  src/cachekit/__init__.py
Due: basedpyright

docs: maturity posture is closed beta — replace Alpha warning, drop 'production-ready' (LAB-1428) (#255)
  README.md
  docs/api-reference.md
  docs/backends/README.md
  docs/backends/cachekitio.md
  docs/comparison.md
  docs/configuration.md
  docs/features/zero-knowledge-encryption.md
  docs/getting-started.md
  pyproject.toml
  src/cachekit/__init__.py
Due: basedpyright

docs: retire old tagline on llms.txt, DEVELOPMENT.md, __init__ docstring (LAB-1431) (#254)
  DEVELOPMENT.md
  llms.txt
  pyproject.toml
  src/cachekit/__init__.py
Due: basedpyright

fix(l1): delete dead backed-mode SWR trio; docs stop claiming backed SWR (LAB-388)
  README.md
  docs/configuration.md
  docs/features/l1-invalidation.md
  src/cachekit/l1_cache.py
  tests/performance/test_l1_invalidation_benchmarks.py
  tests/unit/test_l1_invalidation.py
  tests/unit/test_l1_swr.py
Due: basedpyright

docs(l1): panel fixes — SWR examples need a ttl; align threshold range; drop L2-era wording (LAB-388)
  docs/configuration.md
  docs/features/l1-invalidation.md
Due: none

test(l1): assert the SLA benchmark measures the hit path, not the miss path (LAB-388)
  tests/performance/test_l1_invalidation_benchmarks.py
Due: basedpyright

fix(l1): delete dead backed-mode SWR machinery; docs stop claiming backed SWR (LAB-388) (#256)
  README.md
  docs/configuration.md
  docs/features/l1-invalidation.md
  src/cachekit/l1_cache.py
  tests/performance/test_l1_invalidation_benchmarks.py
  tests/unit/test_l1_invalidation.py
  tests/unit/test_l1_swr.py
Due: basedpyright

refactor!: delete dead L1 namespace-index/bulk-invalidation machinery (LAB-1433)
  .secrets.baseline
  README.md
  docs/configuration.md
  docs/features/l1-invalidation.md
  src/cachekit/config/decorator.py
  src/cachekit/config/nested.py
  src/cachekit/l1_cache.py
  tests/performance/test_l1_invalidation_benchmarks.py
  tests/unit/test_l1_invalidation.py
Due: basedpyright

docs(config): name CachekitIO as the io() preset's managed backend (LAB-1433)
  docs/configuration.md
Due: none

refactor!: delete dead L1 namespace-index/bulk-invalidation machinery (LAB-1433) (#258)
  .secrets.baseline
  README.md
  docs/configuration.md
  docs/features/l1-invalidation.md
  src/cachekit/config/decorator.py
  src/cachekit/config/nested.py
  src/cachekit/l1_cache.py
  tests/performance/test_l1_invalidation_benchmarks.py
  tests/unit/test_l1_invalidation.py
Due: basedpyright

docs: link Skyline, the canonical live example project (LAB-739)
  README.md
Due: none

docs: index all 9 feature guides on every surface + drift guard (LAB-1013)
  README.md
  docs/README.md
  llms.txt
  tests/unit/test_feature_guide_index.py
Due: basedpyright

test: guard counts rendered links only — strip fenced code and HTML comments (LAB-1013)
  tests/unit/test_feature_guide_index.py
Due: basedpyright

test: strip non-rendered content in one pass; match local paths only (LAB-1013)
  tests/unit/test_feature_guide_index.py
Due: basedpyright

chore(deps): bump h2 4.3.0 -> 4.4.1 for CVE-2026-71554 (LAB-1013)
  uv.lock
Due: none

feat(encryption): keyring rotation surface — previous_master_keys + fingerprint selection (LAB-684)
  Cargo.lock
  README.md
  docs/configuration.md
  docs/features/zero-knowledge-encryption.md
  rust/Cargo.toml
  rust/src/lib.rs
  rust/src/python_bindings.rs
  src/cachekit/config/settings.py
  src/cachekit/serializers/encryption_wrapper.py
  tests/unit/test_key_rotation_keyring.py
Due: basedpyright, cargo-fmt, cargo-clippy

fix(encryption): apply crypto expert-panel findings (LAB-684)
  docs/features/zero-knowledge-encryption.md
  pyproject.toml
  rust/src/python_bindings.rs
  src/cachekit/cache_handler.py
  src/cachekit/config/settings.py
  src/cachekit/serializers/encryption_wrapper.py
  tests/unit/test_key_rotation_keyring.py
  uv.lock
Due: basedpyright, cargo-fmt, cargo-clippy

test: require each surface's exact link prefix in the index guard (LAB-1013)
  tests/unit/test_feature_guide_index.py
Due: basedpyright

fix(deps): constrain h2>=4.4.1 — GHSA-6hr6-w5qg-qmwg (LAB-684)
  pyproject.toml
  uv.lock
Due: none

fix(encryption): separate keyring config errors from auth_tamper (LAB-684)
  Cargo.lock
  docs/features/zero-knowledge-encryption.md
  pyproject.toml
  rust/Cargo.toml
  rust/src/python_bindings.rs
  src/cachekit/serializers/encryption_wrapper.py
  tests/unit/test_key_rotation_keyring.py
  uv.lock
Due: basedpyright, cargo-fmt, cargo-clippy

fix(encryption): narrow keyring config class to local faults, stop read-path swallow (LAB-684)
  .secrets.baseline
  rust/Cargo.toml
  rust/src/python_bindings.rs
  src/cachekit/cache_handler.py
  src/cachekit/serializers/__init__.py
  tests/unit/test_key_rotation_keyring.py
Due: basedpyright, cargo-fmt, cargo-clippy

fix(encryption): re-raise keyring config errors at the L1 read sites too (LAB-684)
  src/cachekit/decorators/wrapper.py
Due: basedpyright

fix(encryption): reset stats token on the sync L1 keyring-config re-raise (LAB-684)
  src/cachekit/decorators/wrapper.py
Due: basedpyright

docs: link Skyline, the canonical live example project (LAB-739) (#259)
  README.md
Due: none

Path conditions:
  basedpyright: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
