Repository cachekit-io/cachekit-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: basedpyright, cargo-fmt, cargo-clippy

basedpyright:
  name: basedpyright
  entry: .venv/bin/basedpyright src/ --level error
  language: system
  pass_filenames: false

cargo-fmt:
  name: Cargo format
  entry: bash -c 'cd rust && cargo fmt --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo clippy
  entry: bash -c 'cd rust && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

fix: fail-fast import guard for ArrowSerializer when pyarrow missing
  src/cachekit/serializers/arrow_serializer.py
  tests/unit/test_arrow_serializer.py
Due: basedpyright

fix: fail-fast import guard for ArrowSerializer when pyarrow missing (#29)
  src/cachekit/serializers/arrow_serializer.py
  tests/unit/test_arrow_serializer.py
Due: basedpyright

fix: downgrade to edition 2021 and MSRV 1.82 for stable Rust compatibility
  rust/Cargo.toml
Due: none

style: fix import ordering for edition 2021 rustfmt
  rust/src/lib.rs
  rust/src/python_bindings.rs
Due: cargo-fmt, cargo-clippy

fix: downgrade to edition 2021 and MSRV 1.80 for stable Rust compatibility (#32)
  rust/Cargo.toml
  rust/src/lib.rs
  rust/src/python_bindings.rs
Due: cargo-fmt, cargo-clippy

docs: add context7 configuration file with URL and public key
  context7.json
Due: none

docs: add context7 configuration file with URL and public key (#34)
  context7.json
Due: none

fix: use AliasChoices for REDIS_URL env var fallback
  src/cachekit/backends/redis/config.py
  src/cachekit/config/decorator.py
  tests/unit/test_config_env_fallback.py
Due: basedpyright

fix: use AliasChoices for REDIS_URL env var fallback (#35)
  src/cachekit/backends/redis/config.py
  src/cachekit/config/decorator.py
  tests/unit/test_config_env_fallback.py
Due: basedpyright

chore: update cachekit-core and cachekit versions to 0.1.1 and 0.2.2 respectively in Cargo.lock and Cargo.toml
  Cargo.lock
  rust/Cargo.toml
  uv.lock
Due: none

chore: update cachekit-core and cachekit versions to 0.1.1 and 0.2.2 respectively in Cargo.lock and Cargo.toml (#36)
  Cargo.lock
  rust/Cargo.toml
  uv.lock
Due: none

ci: build wheels for all Python versions on macOS/Windows
  .github/workflows/release-please.yml
Due: none

ci: build wheels for all Python versions on macOS/Windows (#37)
  .github/workflows/release-please.yml
Due: none

feat: extend key generator with Path, UUID, Decimal, Enum, datetime, and constrained numpy support
  src/cachekit/config/decorator.py
  src/cachekit/decorators/wrapper.py
  src/cachekit/key_generator.py
  tests/unit/test_cache_key_generator.py
  tests/unit/test_custom_key_function.py
Due: basedpyright

test: add coverage for key normalization and custom key integration
  tests/integration/test_custom_key_integration.py
  tests/unit/test_cache_key_generator.py
Due: basedpyright

feat: extend key generator with Path, UUID, Decimal, Enum, datetime, and constrained numpy support (#38)
  src/cachekit/config/decorator.py
  src/cachekit/decorators/wrapper.py
  src/cachekit/key_generator.py
  tests/integration/test_custom_key_integration.py
  tests/unit/test_cache_key_generator.py
  tests/unit/test_custom_key_function.py
Due: basedpyright

ci: add checks:write permission for rustsec/audit-check
  .github/workflows/security-fast.yml
Due: none

ci: add checks:write permission for rustsec/audit-check (#40)
  .github/workflows/security-fast.yml
Due: none

fix: lazy-load ArrowSerializer to avoid ImportError without pyarrow
  src/cachekit/serializers/__init__.py
Due: basedpyright

fix: use platform.node() instead of os.uname() for Windows compatibility
  src/cachekit/logging.py
Due: basedpyright

test: add coverage for lazy ArrowSerializer loading
  src/cachekit/logging.py
  tests/unit/conftest.py
  tests/unit/test_serializer_lazy_loading.py
Due: basedpyright

chore: fix CI issues (format, CVE, type check)
  src/cachekit/serializers/__init__.py
  tests/unit/conftest.py
  uv.lock
Due: basedpyright

fix: lazy-load ArrowSerializer to avoid ImportError without pyarrow (#44)
  src/cachekit/logging.py
  src/cachekit/serializers/__init__.py
  tests/unit/conftest.py
  tests/unit/test_serializer_lazy_loading.py
  uv.lock
Due: basedpyright

chore: bump vulnerable deps and fix flaky TTL test
  Cargo.lock
  tests/critical/test_file_backend_critical.py
  uv.lock
Due: basedpyright

fix: raise TypeError from cache_clear() on async functions
  src/cachekit/decorators/wrapper.py
  tests/unit/test_cache_clear_async.py
Due: basedpyright

fix: handle numpy arrays nested in dicts/lists for auto serializer
  src/cachekit/serializers/auto_serializer.py
  tests/unit/test_auto_serializer_nested_numpy.py
Due: basedpyright

chore: bump vulnerable deps and fix flaky TTL test (#53)
  Cargo.lock
  tests/critical/test_file_backend_critical.py
  uv.lock
Due: basedpyright

fix: async cache_clear() TypeError + nested numpy serialization (#54)
  src/cachekit/decorators/wrapper.py
  src/cachekit/serializers/auto_serializer.py
  tests/unit/test_auto_serializer_nested_numpy.py
  tests/unit/test_cache_clear_async.py
Due: basedpyright

ci: resolve 3 CI failures across ci.yml and security-deep.yml
  .github/workflows/ci.yml
  .github/workflows/security-deep.yml
  Cargo.lock
  uv.lock
Due: none

ci: resolve 3 CI failures across ci.yml and security-deep.yml (#55)
  .github/workflows/ci.yml
  .github/workflows/security-deep.yml
  Cargo.lock
  uv.lock
Due: none

test: fix 4 test suite bugs and use lab runners for push CI
  .github/workflows/ci.yml
  tests/unit/test_consolidated_decorator.py
  tests/unit/test_key_generator_blake2b.py
Due: basedpyright

test: fix 4 test suite bugs and use lab runners for push CI (#56)
  .github/workflows/ci.yml
  tests/unit/test_consolidated_decorator.py
  tests/unit/test_key_generator_blake2b.py
Due: basedpyright

ci: pin redis image to SHA digest and add Docker Hub auth
  .github/workflows/ci.yml
Due: none

ci: use self-hosted runners for all CI events
  .github/workflows/ci.yml
Due: none

ci: slim PR pipeline to single Python version, defer full matrix to push
  .github/workflows/ci.yml
Due: none

ci: remove redundant toolchain setup steps
  .github/workflows/ci.yml
Due: none

ci: bump actions to latest majors
  .github/workflows/ci.yml
Due: none

Path conditions:
  basedpyright: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
